#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch, Scikit-learn 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

## 프로그래밍 언어
[ 주요 기능 ]
- 명령 실행: 프로그래밍 언어를 통해 개발자는 컴퓨터에 명령을 내려 특정 작업을 수행. 이는 데이터 처리, 계산, 정보 저장 및 검색 등을 포함.
- 알고리즘 구현: 문제 해결을 위한 절차나 방법을 명확한 단계로 나누어 구현. 프로그래밍 언어는 이러한 절차를 정의하고 실행할 수 있는 도구를 제공.
- 자동화: 반복적인 작업이나 복잡한 시스템 관리 작업을 자동화하여 효율성을 높이고 오류를 줄일 수 있다.
- 인터페이스 및 상호작용: 사용자 인터페이스(UI)를 생성하고, 사용자 입력을 처리하며, 외부 시스템 또는 다른 프로그램과 상호작용하는 메커니즘을 제공.
- 데이터 조작 및 관리: 데이터베이스와의 통신, 데이터 검색, 수정 및 관리 등을 할 수 있다.

[ 구성 요소 ]
- 문법(Syntax): 프로그래밍 언어의 문법은 언어가 어떻게 구성되어야 하는지를 정의. 변수 선언, 연산자 사용, 제어 구조 등의 규칙을 포함.
- 데이터 타입(Data Types): 다양한 종류의 데이터(예: 정수, 실수, 문자열)를 다루기 위한 분류. 각 데이터 타입은 메모리 사용과 연산 방법에 영향을 미친다.
- 변수(Variables): 데이터를 저장할 수 있는 메모리 공간의 이름. 변수를 통해 프로그램 내에서 데이터를 저장하고 참조할 수 있다.
- 연산자(Operators): 산술, 비교, 논리 등의 연산을 수행하는 기호. 이를 통해 데이터를 조작하고 조건을 설정할 수 있다.
- 제어 구조(Control Structures): 프로그램의 흐름을 제어하는 구조로, 조건문(if, switch), 반복문(for, while), 키워드(break, continue) 등이 있다.
- 함수 및 절차(Functions and Procedures): 특정 작업을 수행하는 코드 블록. 함수는 반복적인 코드를 효율적으로 관리할 수 있게 해준다.
- 라이브러리(Libraries): 특정 기능을 수행하는 함수나 데이터를 모아놓은 집합. 라이브러리를 사용하면 복잡한 기능을 쉽게 구현할 수 있다.

- 파이썬 소개
- 용어 : 식별자(기본 규칙), 주석, 연산자, 자료, 키워드
- 자료형 : 수치형, 시퀀스(문자열, 리스트, 튜플), 매핑(사전), 집합(set), 블린(bool)
- 자료형 활용 사례 : 사용자 함수, 클래스
- 들여쓰기, 이스케이프 문자, 문자열 포멧, 2/8/16진수
- 객체지향언어 : 파이썬에서 "모든 것이 객체"
  - 기본 데이터 타입, 함수, 모듈, 클래스 등

In [ ]:
1 # i 기호는 Colab 셀에서 Unix/Linux 셀 명령어를 실행
!python --version

Python 3.10.12

In [ ]:
# % 기호는 !Python 환경(즉, Colab이 포환된 Jupyter 환경)에서 제공하는 매직 명령어를 사용
# 라인 매직(%) = 단일 라인에 적용, 셀 전체에 적용되면 셀매직(%%) 사용함
# 현재 작업폴더 확인
%pwd

'/content'

In [ ]:
# 셀매직사용
%%time
# 간단한 for 루프를 사용한 계산
sum = 0
for i in range(1000000):
  sum += i
print(sum)

499999500000
CPU times: user 106 ms, sys: 2.26 ms, total: 109 ms
Wall time: 125 ms

#### 용어
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

#### 식별자
count, user_name, _is_valid, calculate_area, Car, model, year, math 및 m 모두 유효한 식별자. 각각의 식별자는 특정한 데이터 또는 기능에 이름을 부여하여 코드 내에서 해당 데이터나 기능을 참조할 수 있게하며 코드의 가독성과 유지 보수성을 높이는 데 중요한 역할

#### 식별자 기본 규칙

* 키워드를 사용하면 안된다
* 특수문자는 언더 바(_)만 사용   
* 숫자로 시작하면 안된다
* 공백을 포함할 수 없다

In [ ]:
import keyword
print(keyword.kwlist, '\n')
len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

35

In [ ]:
alpha
break # 키워드
alpha10
_alpha
273alpha # 숫자
Alpha
ALPHA
has space # 공백

SyntaxError: invalid decimal literal (<ipython-input-5-255968cc8616>, line 5)

Q.  주어진 문자열 리스트에서 유효한 Python 변수 이름만을 추출하여 반환하는 함수를 작성하세요

In [ ]:
identifiers = ["var1","2things","variable_name","time!"]

search = '2'
search1 = '!'

for word in identifiers:
    if search in word:
        print('>> remove: ' + word)
        identifiers.remove(word)
    elif search1 in word:
        print('>> remove: ' + word)
        identifiers.remove(word)

print(identifiers)

In [ ]:
# 정답
def valid_identifiers(identifier):
    valid = []
    for identifier in identifier:
        if identifier.isidentifier():
          valid.append(identifier)
    return valid


  # 예제 실행
identifiers = ["var1","2things","variable_name","time!"]
print(valid_identifiers(identifiers))


# isidentifier()는 파이썬 문자열 메소드로 문자열이 유효한 식별자인지 Check.
# isidentifier()는 예약어인지는 따로 체크하지 않음.
import keyword
def valid_identifiers(identifier):
    valid = []
    for identifier in identifier:
        if identifier.isidentifier() and not keyword.iskeyword(identifier):
            valid.append(identifier)
    return valid

identifiers = ["var1", "2things", "variable_name", "time!", "True"]
print(valid_identifiers(identifiers))

In [ ]:
# 제거되는 시점에서 인덱스가 변경
identifiers = ["var1", "2things", "variable_name", "time!", "True"]

for i in identifiers:
    if i[0].isdigit() or not i.isalnum():
        identifiers.remove(i)
print(identifiers)

In [ ]:
# 변수 식별자
count = 10
user_name = "Alice"
_is_valid = True

# 함수 식별자
def calculate_area(radius):
    return 3.14159 * radius * radius

# 클래스 식별자
class Car:
  def _init_(self, model, year):
    self.model = model
    self.year = year

# 모듈 식별자 (math = m, 모듈 이름 변경)
import math as m

파이썬은 snake_case와 CamelCase를 모두 사용


*   itemlist : item_list itemList
*   loginstatus : login_status loginStatus
*   케멀 케이스(대문자로 시작) 클래스
*   스네이크 케이스(소문자로 시작)뒤에 ()가 있다 - 함수
*   스네이크 케이스(소문자로 시작)뒤에 ()가 없다 - 변수

In [ ]:
# 연산자
a = 5
b = 3
c = b % a
d = b // a
e = b / a
f = a * b
print(c)
print(d)
print(e)
print(f)

In [ ]:
a = 7
b = 5
if a > b:
  print(a)

#### 자료형
- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer)를 나타낸다. 양의 정수와 음의 정수, 숫자 0
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set)
  - 블린 : 참, 거짓을 표현

In [ ]:
# 정수형 실수형
i1 = 3
f1 = 3.5
print(i1)
print(f1)

In [ ]:
# 정수(int)
print(int(True))
print(int(False))
print(int('100'))
print(int(3.14))

In [ ]:
# 실수(float)
print(float(True))
print(float(False))
print(float('100'))
print(float(3.14))

In [ ]:
# 사칙연산 : + , * , / , //, %, **
a = 10
b = 2.3
print(int(a+b))
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

In [ ]:
# 문자열
string = '문자열'
a = '100'
print(string)
print(a)

In [ ]:
a = 100
b = 50
print(a+b)
a = '100 '
b = '50'
print(a+b)

In [ ]:
a = int('100')
b = float('50')
print(a+b)

In [ ]:
# 사용자 입력
input(" 인사말 입력 ")

In [ ]:
# input() 함수는 string으로 처리한다
a = input()
b = input()
print(int(a)+int(b))

In [ ]:
# 두개의 정수를 입력해서 더한 결과 출력
num1 = int(input("첫번쨰 숫자 : "))
num2 = int(input("두번쨰 숫자 : "))

print(num1+num2)

In [ ]:
# 실수 + 실수 = 실수
# Q 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요
num1 = float(input("첫번쨰 숫자 : "))
num2 = float(input("두번쨰 숫자 : "))

print(num1+num2)

In [ ]:
# 정수 + 실수 = 실수
# Q 3과 3.3을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요
num1 = int(input("정수 입력 : "))
num2 = float(input("소수점 이하를 포함한 실수 입력 : "))

print(num1+num2)

In [ ]:
# Q = 52 b = 52.273 a+b는 5252.273으로 출력되도록 a와b를 문자열 자료형으로 변환하세요
a = 52
b = 52.273
a = str(a)
b = str(b)
print(a+b)

In [ ]:
# 문자열 : "", ' ' , """ """, ''' '''
# p1 = 'python's value is great'
p1 = "python's value is great"
print(p1)

In [ ]:
# 백슬래시 (\)는 문자열 안에서 작은따음표(')룰 문자열의 끝을 의미하지 않는 일반 문자로 포함시키기 위해 사용
# 이 기술을 이스케이프라고 함
#
p1 = 'python\'s value is great'
print(p1)

In [ ]:
# \n 행 바꿈
# y1 = "Once yor study data analysis You need Python"
y1 = "Once yor study data analysis\nYou need Python"
print(y1)

In [ ]:
y2 = '''
Once yor study data analysis
You need Python
'''

y3 = """
Once yor study data analysis
You need Python
"""

print(y2)
print(y3)

In [ ]:
a1 = 'Python'
a2 = ' is easy to learn'
print(a1+a2)
print("="*25)

In [ ]:
# Q. 아래와 같이 출력할 수 있는 String을 만드세요
#"What a wonderful world"
#he said loudly

a = """
"What a wonderful world"
he said loudly
"""

print(a)

In [ ]:
# Q 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요
n1 = int(input("첫번쨰 숫자 "))
n2 = int(input("두번쨰 숫자 "))
if n1 > n2:
  print(n1)
elif n1 < n2:
  print(n2)
else:
  print("큰 수가 없습니다")

In [ ]:
# 자료형 - List
# 리스트는 [] 로 표시하며 [] 안의 요소를 콤마로 구분하여 순서있게 나열
list1 = [1,2,3,4,5]
list2 = ['a', 'b', 'c']
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]

print(list1)
print(list2)
print(list3)

In [ ]:
# 인덱스
list1 = [1,2,3,4,5]
list1[2]
list1[0:2]
list1[:4]

In [ ]:
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
print(list3[3][2])

In [ ]:
# 리스트 수정,삭제
a = [0,1,2,3,4,5,6,7,8,9]
b =['a','b','c']
a[0] = 1
print(a)
b[1] ='a'
print(b)
del a[0]
print(a)
del b[1]
print(b)

In [ ]:
# 끝에서 부터 인덱싱 : -1

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ['a', 'b', 'c']
a[-2]
print(a[-4:-1])
print(a[-4:])

In [ ]:
# 리스트 확장
h = [1,2,3]
h.extend([4,5]) # 반복 가능한 객체의 모든 요소를 리스트에 추가
print(h)
h.append(6) # 단일 격체를 추가
print(h)
h.insert(0,5)
print(h)

In [ ]:
#Q. list1에서 다음을 수행하세요
#- 33을 출력
#- 82를 리스트에 추가
#- 87의 인덱스 구하기 - 도전
#- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
#- 39를 11로 변경
#- [69,45,58] 출력
#- 짝수 인덱스의 값으로 구성된 리스트 출력하기
#- 인덱스가 가장 큰수를 삭제하기
#- 인덱스 3, 5인 값으로 4칙 연산하기

#list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [ ]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

# 문제1  33을 출력
print(list1[11][1],'\n')

# 문제2  82를 리스트에 추가
list1.append(82)
print(list1,'\n')

# 문제3  87의 인덱스 구하기
print(list1.index(87),'\n')

# 문제4  인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기
list2 =list1[3:11]
list2.sort(reverse=True)
print(list2,'\n')

# 문제5  39를 11로 변경
list1[8] = 11
print(list1,'\n')

# 문제6 [69,45,58] 출력
print(list1[2::-1],'\n')

# 문제7 짝수 인덱스의 값으로 구성된 리스트 출력하기
print(list1[0::2],'\n')

# 문제8 인덱스가 가장 큰수를 삭제하기
del list1[-1]


# 문제9 인덱스 3, 5인 값으로 4칙 연산하기
print(list1,'\n')

In [ ]:
# list 출력방향

print(list1,'\n')
print(list1[7::-1],'\n')
print(list1[7::2],'\n')
print(list1[7::-2],'\n')

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다.
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다.

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다

In [ ]:
# sort
my_list = [3, 1, 2]
my_list.sort()
print(my_list)

# sorted()
my_tuple = (3, 1, 2)
new_list = sorted(my_tuple)
print(my_tuple)
print(new_list)

In [ ]:
list = [5, 6, 9, 7, 8]
new_list=list.sort()
print(list)
print(new_list)

In [ ]:
list = [5, 6, 9, 7, 8]
new_list = sorted(list)
print(list)
print(new_list)

In [ ]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2 = list1[3:11]
l_sort = sorted(list2,reverse=True)
l_sort

In [ ]:
list3 = list1[3:11]
list3.sort(reverse=True)
print(list3)

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
# Task1 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

numbers.sort()
print(numbers[0])

numbers.sort(reverse=True)
print(numbers[0],'\n')


#--------------------------------------------------------------------------------

min_value = min(numbers)
max_value = max(numbers)

print(f"최소값: {min_value}, 최대값:  {max_value}","\n")

#--------------------------------------------------------------------------------

min_value1 = numbers[0]
max_value2 = numbers[0]

for number in numbers:
  if number < min_value1:
    min_value1 = number
  elif number < max_value2:
    max_value2 = number

print(f"최소값: {min_value1}, 최대값:  {max_value2}")

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
# Task2 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

# 합계 계산
result = sum(numbers)

# 평균 계산
ave = result / len(numbers)

# 결과 풀력
print(f"합계: {result}, 평균:  {ave}")

In [ ]:
# 파이썬에서 평균을 구하는 내장함수 없음

import statistics
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
avg = statistics.mean(numbers)
print(f"평균: {ave}")

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple'] target='apple'

In [ ]:
# Task3 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

search = []

for search1 in items:
  if 'apple' in search1:
    search.append(search1)

print(search)

In [ ]:
# 리스트 정의
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

# 찾을 요소
target = 'apple'

# 인덱스 찾기
indexes = [index for index, value in enumerate(items) if value == target]

# 결과 출력
print(f"{target}'의 모든 인덱스: {indexes}")

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다. 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

In [ ]:
#Task4 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요.
#단, 처음 등장하는 요소는 유지해야 합니다. 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다

li = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
result = [li[0]]
for i in li[1:]:
  if i != result[-1]:
      result.append(i)
print(result)

In [ ]:
def remove_consecutive_duplicates(items):
   if not items:
      return []
  # 결과 리스트 초기화
      result = [items[0]]
    # 이전 요소와 비교하면서 중복 제거
      for current in items[1:]:
        if current != result[-1]:
          result.append(current)
      return result

# 리스트 정의
items = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']

# 결과 출력
print(remove_consecutive_duplicates(items))

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [ ]:
#Task5 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요.
#k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.
#예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다
a = [1, 2, 3, 4, 5]
def right_rotate(test_list, n):
  new_list = [None for _ in range(len(test_list))]

  for i in range(len(test_list)):

      new_list[i] = test_list[i-n]

  return new_list

  print(right_rotate(a,2))

In [ ]:
# 오른쪽으로 회전
def rotate_list(num, k):
  if not nums:
    return nums
  # 회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k % len(nums)
  # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[-k:] + nums[:-k]
  return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k =2
# 결과 출력
print(rotate_list(nums, k))

In [ ]:
# 왼쪽으로 회전
def rotate_list(num, k):
  if not nums:
    return nums
  # 회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k % len(nums)
  # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[k:] + nums[:k]
  return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k = 2


# 결과 출력
print(rotate_list(nums, k))

##자료형 - Tuple


*   튜플은 변경할 수 없는(immutable) 순서가 없는 컬랙션
*   프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = ('a', 'b', 'c')
tuple3 = (1, 'a', 'abc', [1,2,3,4,5],['a','b','c'])

print(tuple1[:])
print(tuple1[2])
tuple3[3][2]

(1, 2, 3, 4, 5)
3

3

In [ ]:
# 튜퓰의 요소 값은 변경할 수 없음
tuple = (1,2,3,4,5)
tuple[0] = 0
tuple

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1 = (1,) # 1개의 요소만 가질 떄는 콤마를 붙여야 함
print(t1)
type(t1)

(1,)

tuple

In [ ]:
t2 = 1,2,3
print(t2)
type(t2)

(1, 2, 3)

tuple

In [ ]:
print(t2 * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
t1 + t2

(1, 1, 2, 3)

Q. 'red','green','blue' 값을 갖는 튜플에서 각 값을 각각 r,g,b 변수에 할당하고 출력

In [ ]:
colors = ('red', 'green', 'blue')
r, g, b = colors
print(r)
print(g)
print(b)

red
green
blue

함수에서 여러 값을 반환할 떄 튜플을 사용하는 것이 일반적입니다.
Q. 주어진 리스트의 총합과 평균을 동시에 반환하는 함수를 작성하세요
numbers = [10,20,30,40,50]

In [ ]:

def calculate_sum_and_avg(numbers):

# 합계 계산
  total = sum(numbers)
# 평균 계산
  avg = total / len(numbers)
  return (total, avg) # 튜플로 총합과 평균 반환

numbers = [10, 20, 30, 40, 50]
total, avg = calculate_sum_and_avg(numbers)
print(f"총합: {total}, 평균: {avg}")

총합: 150, 평균: 30.0

## 자료형 - 사전


*   키와 값을 하나의 요소로 하는 순서가 없는 집합

In [ ]:
d1 = {'a':1, 'b':2, 'c':3}
print(d1['a'])

1

In [ ]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [ ]:
d1.values()

dict_values([1, 2, 3])

In [ ]:
d1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
d1['d'] = 4
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
d1['b'] = 7
d1

{'a': 1, 'b': 7, 'c': 3, 'd': 4}

In [ ]:
del d1['b']
d1

{'a': 1, 'c': 3, 'd': 4}

Q 딕셔너리 d에서 'b'의 값을 확인하면서 그 값을 삭제하세요

In [ ]:
# pop() 함수는 딕셔너리에서 삭제하라는 값을 반환한 후 삭제
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
value = d.pop('b')
print("삭제 값 : ",value)
print(d)

삭제 값 :  2
{'a': 1, 'c': 3, 'd': 4}

Q 다음과 같이 학생의 이름과 점수를 튜플로 묶은 리스트가 있습니다:[("Tom",85),("Jane",90),("Bob",75)]

이 리스트를 사용해 학생 이름을 키로, 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요

In [ ]:
student = ("Tom",85),("Jane",90),("Bob",75)

student_dict = dict(student)
print(student_dict)

{'Tom': 85, 'Jane': 90, 'Bob': 75}

Q 튜플의 불변생 떄문에 튜플은 딕셔너리의 키로 사용될 수 있습니다. 주어진 위치 좌표 리스트에서 각 위치가 몇 번 나타나는지 계산하는 딕셔너리를 만드세요

In [ ]:
# 위치 좌표의 리스트
positions = [(1, 1), (2, 2), (1, 1), (3, 3), (2, 2)]

# 각 위치의 출현 횟수를 저장할 딕셔너리
position_count = {}

for pos in positions:
  if pos in position_count:
      position_count[pos] += 1
  else:
    position_count[pos] = 1

print(position_count)

{(1, 1): 2, (2, 2): 2, (3, 3): 1}

## 자료형-집합,set

*   중복을 허용하지 않으며 순서가 없다

In [ ]:
s1 = set([1,2,5,4,3])
s2 = set('hello')
print(s1)
print(s2)

l2 = list(s2)
print(l2)
print(l2[2])

{1, 2, 3, 4, 5}
{'o', 'e', 'h', 'l'}
['o', 'e', 'h', 'l']
h

In [ ]:
l1 = list(s1)
print(l1)
print(l1[1])

l2 = list(s2)
print(l2)
print(l2[3])

[1, 2, 3, 4, 5]
2
['o', 'e', 'h', 'l']
l

Q 주어진 리스트에서 중복 요소를 제거하고 결과를 출력하세요

In [ ]:
nums = [1, 2, 2, 3, 4, 4, 4, 5]

result1 = set(nums)
print(f"set(nums) : {result1}")

print(result1)

set(nums) : {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

Q s1,s2의 합집합과 교집합을 각각 리스트로 출력하세요

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 & s2) # 교집합
print(s1 | s2) # 합집합

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

Q s1,s2 차집합을 구하고 출력

In [ ]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

print(s1 - s2)

{1, 2, 3}

## 자료형-논리(Bool) True와 False


*   파이썬에서 참과 거짓을 나타내는 상수, True는 1, False는 0의 값을 가짐
*   조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [ ]:
print(bool(0))
print(bool(''))
print(bool([]))
print(bool(1))
print(bool(100))

False
False
False
True
True

아스키코드
ASCII 값에서 'a'는 97이고 'p'는 112입니다 'a'는 'p'보다 작으므로 str1 < str2는 True를 반환

In [ ]:
# 관계 연산자
x = 1 ; y =2
str1 = 'abc' ; str2= 'python'
print(x == y)
print(x != y)
print(str1 == str2)
print(str2 == 'python')
print(str1 <str2)

False
True
False
True
True

In [ ]:
# 논리 연산자
bool1 = True ; bool2 = False ; bool3 = True ; bool4 = False

print(bool1 and bool2)
print(bool1 or bool2)
print(not bool3)
print(not bool4)

False
True
False
True

사용자 함수의 형태
- 입력값, 출력값 모두 있는 경우
- 입력값만 있는 경우
- 출력값만 있는 경우
- 입출력값이 없는 경우

#### 파이썬에서 들여쓰기
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다.
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [ ]:
li = ['a', 'b', 'c']
if 'a' in li:
  print('a가 li에 있습니다')
else:
  print('a가 li에 없습니다')

a가 li에 있습니다

## 사용자 함수

In [ ]:
numbers = [1, 2, 3]
sum(numbers) # 파이썬 내장함수

6

In [ ]:
# 사용자 함수
def add(a,b,c):
    return a + b + c
add(1,2,3)

6

Q 뺄셈, 나눗셈을 수행하는 사용자 함수를 작성

In [ ]:
# 뺄셈
def subtract(a,b,c):
    return a - b - c
subtract(1,2,3)

-4

In [ ]:
# 나눗셈

def divide(a,b,c):
  if b ==0 or c == 0:
    return "Eroor : Division by zero"
  else:
    return a / b / c
round(divide(1,2,3),2) # 반올림

0.17

## 클래스

In [ ]:
class AddMul:
  def add(self,n1,n2):
    return n1 + n2
  def mul(self,n1,n2):
    return n1 * n2

obj1 = AddMul() # 견제
print(obj1.add(1,1))
obj2 = AddMul()
print(obj2.mul(3,2))

2
6

In [ ]:
# split() 함수
text = "나는 오늘 기분이 좋아요"
words = text.split()
words

In [ ]:
text = 'apple, banna, orange'
words = text.split(',')
words

In [ ]:
time_string = '12:30:55'
time_list = time_string.split(':')
time_list

In [ ]:
# Q 아래 text를 분리해 보세요
multi_line_text = "Hello\nWorld\nPython\nProgramming"
print(multi_line_text)

['Hello, World, Python, Programming']

In [ ]:
# 복합 대입 연산자
num = 10
num += 10 # num - num + 10
num

20

In [ ]:
# Q 복합 대입연산자를 이용해서 4칙연산을 수행하세요

a = 10

a += 5 # a = a + 5
print("덧셈 후:", a)

a -= 3 # a = a - 3
print("뺄셈 후:", a)

a *= 2 # a = a * 2
print("곱셈 후:", a)

a /= 4 # a = a / 2
print("나누셈 후:", a)

덧셈 후: 15
뺄셈 후: 12
곱셈 후: 24
나누셈 후: 6.0

In [ ]:
# 소문자, 대문자

word = 'DOG'
w1 = word.lower()
print(w1)
w2 = w1.upper()
print(w2)

dog
DOG

In [ ]:
# split() 함수
text = '나는 오늘 기분이 좋아요'
words = text.split()
words

['나는', '오늘', '기분이', '좋아요']

In [ ]:
text = 'apple , banana , orange'
words = text.split(',')
words

['apple ', ' banana ', ' orange']

In [ ]:
time_string = '12:30:55'
time_string = time_string.split(':')
time_string

['12', '30', '55']

In [ ]:

# Q. 아래 text를 분리해 보세요

multi_line_text = "Hello\nWorld\nPyyhon\nProgramming"
print(multi_line_text)

# ['Hello' , 'World' , 'Python' , 'Programming']

Hello
World
Pyyhon
Programming

['Hello', 'World', 'Python', 'Programming']

In [ ]:
# Q. 아래 text를 분리해 보세요

multi_line_text = "Hello\nWorld\nPyyhon\nProgramming"
#print(multi_line_text)
lines = multi_line_text.split('\n')
lines

['Hello', 'World', 'Pyyhon', 'Programming']

In [ ]:
# 복합 대입 연산자

num = 10
num += 10 # num = num + 10
num

20

In [ ]:
# Q . 복합 대입연산자를 이용해서 사칙연산을 수행하세요

a = 10

a += 5 # a = a + 5
print(a)
a -= 3 # a=  a - 3
print(a)
a *= 2 # a = a * 2
print(a)
a /= 4 # a = a / 4
print(a)

15
12
24
6.0

In [ ]:
# 소문자 , 대문자 변환

word = 'DOG'
w1 =  word.lower()
print(w1)
w2 = w1.upper()
print(w2)

dog
DOG

## 이스케이프 문자

- 키보드로 입력하기 어려운 기호 등을 나타낸다
- \로 시작, \n 줄바꾸기, \t 탭

In [ ]:
print('나는 파이썬을 사랑합니다. \n파이썬은 자바보다 훨씬 쉽습니다')
print('나는 파이썬을 사랑합니다. \t파이썬은 자바보다 훨씬 쉽습니다')

나는 파이썬을 사랑합니다.
파이썬은 자바보다 훨씬 쉽습니다
나는 파이썬을 사랑합니다. 	파이썬은 자바보다 훨씬 쉽습니다

In [ ]:
print("Hello\tWorld!") # 탭 문자를 사용하여 "Hello" 와 "World!" 사이에 탭 간격을 줍니다
print("Hello\nWorld!") # 줄 바꿈 문자를 사용하여 "Hello" 와 "World!"를 다른 줄에 출력합니다
print("She said, \"Hi!\"") # 큰따음표를 문자열 내부에 포함시킵니다.
print('It\'s raining.') # 작은따음표를 문자열 내부에 포함시킵니다
print("BacksIash: \\") #백슬래시를 출력합니다

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다.
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [ ]:

print('$(num)d, %(float)f, %(string)s' % {"num": 3, "float": 3, "string": 'hello'})

$(num)d, 3.000000, hello

In [ ]:
txt1 = '자바'; txt2='파이썬'
num1 = 5; num2 = 10
print('나는 %s보다 %s에 더 익숩합니다' %(txt1, txt2))
print('%s은 %s보다 %d배 더 쉽습니다' %(txt2, txt1, num1))
print('%d + %d = %d' %(num, num2, num1+num2))
print('작년 세계 경제 성장률은 전연에 비해 %d%% 포인트 증가했다.' %num1)

나는 자바보다 파이썬에 더 익숩합니다
파이썬은 자바보다 5배 더 쉽습니다
20 + 10 = 15
작년 세계 경제 성장률은 전연에 비해 5% 포인트 증가했다.

In [ ]:
# str.format
print('We are the {} who say "{}!"'.format('knights','Ni'))

We are the knights who say "Ni!"

In [ ]:
# f-string
name = '홍길동'
age = 30
f'나의 이름 {name}입니다. 나이는 {age}입니다.'

'나의 이름 홍길동입니다. 나이는 30입니다.'

In [ ]:
table = {'Tom': 1234, 'Jack': 4518, 'Eddie':9638}
for name, phone in table.items():
  print(f'{name:5} ==> {phone:5d}')

Tom   ==>  1234
Jack  ==>  4518
Eddie ==>  9638

In [ ]:
# 소수점 4자리까지만 표현
y = 3.42134234
f'{y:0.5f}'

'3.42134'

In [ ]:
# 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
y = 3.42134234
f'{y:10.4f}'

'    3.4213'

In [ ]:
# Q. num1 = 12345, num2 =12.3456789을 아래와 같이 출력
#   12345
#        12345
# 12.3456789
#           12.346

In [ ]:
num1 = 12345
num2 = 12.3456789
print(num1)
print(f'{num1:10d}')
print(num2)
print(f'{num2:17.4f }')

12345
     12345
12.3456789
          12.3457

#### 2진수, 8진수, 16진수의 데이터 표현 방법

- 우리가 프로그래밍을 하면서 변수에 어떤 값을 저장할 때 10진수는 일상적 표현을 그대로 대입한다.
- 예를들어 15를 저장하고 싶다면 int a= 15; 와 같이 15라는 숫자를 그대로 대입하면 된다.
- 하지만 2진수, 8진수, 16진수는 표현법이 따로 정해져있다.<br><br>  

- 2진수는 대입하고자 하는 값 앞에 0b를 붙인다. (숫자0과 영문자b)
- 8진수는 대입하고자 하는 값 앞에 0o 을 붙인다. (숫자0 영문자o)
- 16진수는 대입하고자 하는 값 앞에 0x 를 붙인다. (숫자0과 영문자x)

아래의 예시를 보자.
변수 a,b,c,d 는 모두 10진수 122 이라는 값을 저장하는 코드이다.

122는
- 2진수로 1111010
- 8진수로 172
- 16진수로 7A 이다.

In [ ]:
a = 0o172 # 8진수 0o시작
b = 0x7A  # 16진수 0x시작
c = 0b1111010 # 2진수 0b로 시작
print(a)
print(b)
print(c)

122
122
122

In [ ]:
# Q 10을 10진수, 2진수, 8진수, 16진수로 출력하세요

print(10)
print(0b10)
print(0o10)
print(0x10)

10
2
8
16

In [ ]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
# 16진수 10 a, 11 b, 12 c, 13 d, 14 e, 15 f

e = 0o177 # 8진수 0b로 시작
f = 0xABC # 16진수 0x로 시작
g = 0b101010 # 2진수 0b로 시작

print(e)
print(f)
print(g)

127
2748
42

In [ ]:
# 2진수를 10진수로 표현
g1 = 0b1000
g2 = 0b100
g3 = 0b10
print(g1)
print(g2)
print(g3)

8
4
2

In [ ]:
# 16진수를 10진수로 표현
f1 = 0xA
f2 = 0xB
f3 = 0xAB
print(f1)
print(f2)
print(f3)
print(16*10+1*11)

10
11
171
171

In [ ]:
# Q 0xABC를 계산하세요

print(0xABC)
print(16*16*10+16*11+12)

2748
2748

re.split() 함수의 동작:
- 주어진 문자열에서 공백, 쉼표, 마침표, 물음표, 느낌표를 포함하여 연속된 어떤 조합이라도 하나의 구분자로 취급하고, 이에 따라 문자열을 분리

정규 표현식 구성 요소:
- 대괄호([ ]): 대괄호는 문자 클래스를 만들며 대괄호 안에 포함된 어떤 문자와도 일치할 수 있다. 여기서는 공백( ), 쉼표(,), 마침표(.), 물음표(?), 느낌표(!)가 포함되어 있어 이 중 어떤 한 문자와도 일치할 수 있다.
- 플러스 기호(+): 이 기호는 직전의 요소가 하나 이상 반복될 때 사용. 즉, `[ ,.?!]+`는 공백, 쉼표, 마침표, 물음표, 느낌표 중 하나 이상 연속된 시퀀스와 일치. 이를 통해 문자열을 분리할 때 하나의 구분자만이 아닌, 여러 구분자가 연속적으로 위치해 있는 경우에도 단일 구분점으로 취급할 수 있다.

#### 파이썬에서 "모든 것이 객체"
파이썬 내에서 데이터와 함수, 모듈, 클래스 등 모든 것이 객체로 취급된다는 것을 의미
- 기본 데이터 타입(예: 정수, 실수, 문자열 등)을 포함하여 모든 데이터가 객체. 각 데이터 타입은 특정 클래스의 인스턴스로, 해당 데이터 타입의 메소드와 속성을 가진다. 예를 들어, 정수는 int 클래스의 인스턴스로, 여러 가지 메소드(예: bit_length(), __add__() 등)를 사용할 수 있습니다.

In [ ]:
x = 10
print(x.bit_length()) # 10의 비트 길이를 계산

4

- 파이썬에서 함수도 객체로 취급. 이는 함수를 변수에 할당하거나, 다른 함수의 인자로 전달하거나, 리스트나 딕셔너리 같은 데이터 구조에 저장할 수 있음을 의미

In [ ]:
def greet():
  print("Hello! World")
print(greet.__name__) # 함수 이름 출력

greet

- 파이썬에서 클래스와 모듈 또한 객체. 클래스는 type의 인스턴스로, 메소드와 속성을 포함할 수 있다. 모듈도 객체로 취급되어, 모듈 내의 함수나 변수 등을 속성으로 가질 수 있다.

In [ ]:
import math

print(type(math)) # <class 'module>
print(math.sqrt(4)) # 모듈의 메소드 사용

<class 'module'>
2.0

type 함수가 반환하는 결과가 클래스 이름(예: <class 'list'>)으로 나오는 것은, 해당 객체가 해당 클래스의 인스턴스라는 것을 의미

In [ ]:
x = 1
print(type(x)) # <class 'int>

y = "hello"
print(type(y)) # <class 'str'>

def func():
  pass

print(type(func)) # <class 'function'>

<class 'int'>
<class 'str'>
<class 'function'>

In [ ]:
list_example = [1, 2, 3]
print(type(list_example)) # <class 'list>

tuple_example = (1, 2, 3)
print(type(tuple_example)) # <class: 'tuple>

dict_example = {'key' : 'value'}
print(type(dict_example)) #<class ;dict>

<class 'list'>
<class 'tuple'>
<class 'dict'>

In [ ]:
# 사용자가 직접 작성한 클래스에서 객체를 만들 경우
# __main__은 현재 스크립트가 메인 프로그램
class Car:
  def __init__(self, model):
    self.model = model

my_car = Car('Toyota')
print(type(my_car)) # <class '__main__Car'>

<class '__main__.Car'>