제어문(control statement)은 프로그램의 흐름을 제어하는데 사용

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and, or, not)를 사용하여 표현할 수 있다
- elif: 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정

In [ ]:
x = 10
if x > 5:
  print("x는 5보다 큽니다.")
elif x == 5:
  print("x는 5입니다")
else:
  print("x는 5보다 작습니다")

x는 5보다 큽니다.

In [ ]:
x = 10
if x >= 5:
  print("x는 5보다 크거나 같습니다.")
else:
  print("x는 5보다 작습니다")

x는 5보다 크거나 같습니다.

In [ ]:
# 각 조건이 서로 독립적일떄 if문을 연속해서 사용
x = 10
y = 5

if x > 5:
  print("x는 5보다 큽니다")
if y < 10:
  print("y는 10보다 작습니다")
if x > y:
  print("x는 y보다 큽니다")

x는 5보다 큽니다
y는 10보다 작습니다
x는 y보다 큽니다

In [ ]:
x = 10
y = 5
if x > 5:
  if y >=3:
    print('x는 5보다 크고 y는 3보다 크거나 같습니다.')
  else:
    print('x는 5보다 크고 y는 3보다 작습니다.')
else:
  print("x는 5보다 작거나 같습니다")

x는 5보다 크고 y는 3보다 크거나 같습니다.

In [ ]:
# Q 이중 조건문을 사용하여 코드를 작성하세요 (조건 내용은 자유. 단, if문, if ~elif ~else 중첩하여 사용)

text = int(input("숫자를 입력하세요"))

if text < 70:
  print("점수가 70점 미만입니다. 채점을 진행하지 않습니다")

else:
  if text >= 95:
    print("A+")
  elif text >= 90:
    print("A")
  elif text >= 85:
    print("B+")
  elif text >= 80:
    print("B")
  else:
    print("C")

숫자를 입력하세요85
B+

In [ ]:
listdata = ['a', 'b', 'c']

if 'a' in listdata:
  print('a가 listdata에 있습니다')
if 'b' in listdata:
  print('b가 listdata에 있습니다')
if 'c' in listdata:
  print('c가 listdata에 있습니다')

for i in listdata:
  if i in listdata:
    print(f'{i}가 listdata에 있습니다')

a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다
a가 listdata에 있습니다
b가 listdata에 있습니다
c가 listdata에 있습니다

In [ ]:
# Q '10000원 돈이 있으면 택시를 타고 돈이 없으면 걸어 간다 를 만족하는 조건문을 작성

money = int(input("가진 돈을 입력하세요"))

if money >= 10000:
  print("택시 타자")
else:
    print("걸어가")

가진 돈을 입력하세요8000
걸어가

In [ ]:
# Q 조건부 표현식을 한줄의 조건문으로 작성하세요

score = 70
if score >=60:
  message = "success"
else:
  message = "failure"

print(message)

success

In [ ]:
score = 70
["sucesss" if score >= 60 else "failure"]

['sucesss']

In [ ]:
# Q 수입(income)과 지출(spend)을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가

income = int(input("수입을 입력하세요 "))
spend = int(input("지출을 입력하세요 "))

if income > spend:
  print("저축 증가")
elif income == spend:
  print("현상 유지")
else:
  print("빚 증가")

수입을 입력하세요 7000
지출을 입력하세요 7000
현상 유지

#### 반복문 (Loop Statements):
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행

In [ ]:
# for 루프는 시퀀스(리스트. 튜플, 문자열 등)나 반복 가능한 객체(iterable)의 요소를 순환

for i in range(5):
# print(i)
  print(i, end = ' ')
print('\n')
count = 0
while count < 5:
  print(count, end = ' ')
  count += 1

0 1 2 3 4

0 1 2 3 4

In [ ]:
# 리스트를 순회하는 예
for i in [1, 2, 3, 4, 5]:
  print(i, end = ' ')
print('\n')
# 문자열을 순회하는 예
for char in "hello":
  print(char, end = ' ')

1 2 3 4 5

h e l l o

In [ ]:
# while 루프는 주어진 조건이 참(True)인 동안 코드 블록을 반복
# 조건이 거짓(False)이 되면 루프가 종료

count = 0
sum = 0
while count < 5:
  sum += count
  print(sum, end = ' ')
  count += 1

0 1 3 6 10

In [1]:
# Q d에서 반복문을 사용해서 97, 98, 99을 출력하세요
d = {'a': 97, 'b': 98, 'c': 99}
for key in d:
  print(d[key], end= ' ')
  print(type(d[key]))

97 <class 'int'>
98 <class 'int'>
99 <class 'int'>

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공.

In [3]:
d['b'] = 100
print(d)
print(d.values())

{'a': 97, 'b': 100, 'c': 99}
dict_values([97, 100, 99])

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작

In [5]:
for i in range(5):
  if i == 3:
      break
  print(i,end = ' ')
print('\n')

for i in range(5):
  if i == 3:
    continue
  print(i, end = ' ')

0 1 2

0 1 2 4

In [7]:
# for 또는 while 루프에 else 절을 사용하면, 루프가 정상적으로 완료된 후 실행할 코드를 지정

for i in range(5):
  print(i, end = ' ')
else:
  print("루프가 완료되었습니다", '\n')

count = 0
while count < 5:
  print(count, end = ' ')
  count += 1
else:
  print("루프가 완료되었습니다")

0 1 2 3 4 루프가 완료되었습니다

0 1 2 3 4 루프가 완료되었습니다

In [10]:
# break 문을 사용하여 루프를 중단하면 else 절은 실행되지 않음
for i in range(5):
  if i == 3:
    print(f'{i}에서 루프를 중단한다')
    break
else:
  print("루프가 완료되었습니다", '\n')

3에서 루프를 중단한다

## 조건과 반복을 결합

In [11]:
# 10 미만의 홀수만 출력

for i in range(10):
  if i % 2 == 1:
    print(i, end = ' ')

1 3 5 7 9

In [18]:
# 1 ~ 10 범위의 정수에서 1부터 5까지만 출략

for i in range(1, 11):
  if i > 5 :
    break
  print(i, end = ' ')

1 2 3 4 5

In [19]:
# numbers 리스트에서 15, 20, 25 를 출력 (for문 과 if 조건 사용)
numbers = [5, 15, 6, 20, 7, 25]

for i in numbers:
  if i % 5 == 0 and i > 5:
    print(i, end = ' ')

15 20 25

In [21]:
# 특정 조건을 만족할 떄까지 반복

count = 0
while 1: # 무한반복
  count += 1
  if count > 5:
    break # count가 5보다 클 떄 루프 종료
  print(count)
print('루프가 종료')

1
2
3
4
5
루프가 종료

In [27]:
# Q 리스트에서 특정값 찾기
numbers = [1, 2, 3, 4, 5]
target = 6

for num in numbers:
  if num == target:
    print(f'{target}을(를) 찾았습니다')
    break
else:
  print(f'{target}을(를) 못찾았습니다')

6을(를) 못찾았습니다

In [29]:
# Q 1 ~ 20 사이에 정수에서 10보다 작은 홀수만 출력

for i in range(1, 21):
  if i < 10:
    if i % 2 != 0:
      print(i, end = ' ')
  else:
    break

1 3 5 7 9

In [34]:
# While ~ continue ~ break
# 20 보다 작은 정수에서 1 3 5 7 9 만을 출력
a = 0
while a < 20:
    a += 1
    if a % 2 == 0:
      continue
    if a >= 10:
      break
    print(a, end = ' ')

1 3 5 7 9

In [41]:
# Q 정수 1부터 n까지 더할 떄 그 힘이 1000보다 커지개 되는 n과 합을 구하세여 ( while ~ break )

x = 1
sum = 0

while 1:
  sum = sum + x
  if sum > 1000:
    print(x)
    print(sum)
    break
  x = x + 1

45
1035

In [42]:
x = 0
sum = 0
while sum < 1000:
  x += 1
  sum += x
print(x)
print(sum)

45
1035

In [45]:
# Q while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해 보세요

count = 1
multiple_sum = 0

while count <= 1000:
  if count % 3 ==0:
    multiple_sum += count
  count += 1

print(multiple_sum)

166833

In [38]:
# Q 정수를 입력받아 홀수 짝수를 판별하는 프로그램 작성

num = int(input("숫자를 입력 "))

if num % 2 == 0:
  print("짝수")
else:
  print("홀수")

숫자를 입력 987654321
홀수

In [50]:
while True:
  try:
    number = int(input("정수를 입력하세요"))

    if number % 2 == 1:
      print(f'{number}는 홀수')
    else:
      print(f'{number}는 짝수')
    break
  except ValueError:
    print("정수를 입력하시오")

정수를 입력하세요5.2
정수를 입력하시오
정수를 입력하세요95
95는 홀수

In [51]:
# Q 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요 ( ABC -> BCA)

next = input("입력하세요 ")

for i in range(len(next)):
  if i == 0:
    continue
  print(next[i], end = ' ')
else:
  print(next[0])

입력하세요 abc
b c a

zip() 함수
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [52]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
zipped  = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [55]:
# Q  두개의 리스트(이름과 성)를 사용하여 각 사람의 전체 이름을 생성하세요.

first_name = ["John", "Jane", "Corey", "Travis"]
last_name = ["Don", "Smith", "Turner", "Williams"]

full_names = [first + " " + last for first, last in zip(first_name, last_name)]
print(full_names)

['John Don', 'Jane Smith', 'Corey Turner', 'Travis Williams']

In [58]:
# Q 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하세요.

math_scores = [88, 92, 79, 93, 85]
english_scores = [90, 91, 85, 88, 86]

average_scores = [(math + english) / 2 for math, english in zip(math_scores, english_scores)]
print(average_scores)

[89.0, 91.5, 82.0, 90.5, 85.5]

In [60]:
# Q 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을 떄, 상품명과 가격을 튜플로 묶어 출력하세요

products = ["apple", "banana", "cherry"]
prices = [1.2, 0.5, 2.5]

for product, price in zip(products, prices):
  print(f'Product: {product}, Price ${price}')

Product: apple, Price $1.2
Product: banana, Price $0.5
Product: cherry, Price $2.5

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환.

In [66]:
import random

# Q과 1 사이의 난수 생성
print(random.random())

# 1에서 10 사이의 정수 반환(10 포함)
print(random.randint(1, 10))

# 리스트에서 무작위로 하나의 원소 선택
items = [1, 2, 3, 4, 5]
print(random.choice(items))

# 리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)

# 정규 분포 난수 생성
mean = 0
std_dev = 1
print(random.gauss(mean, std_dev))

0.9345570001000791
9
5
[2, 5, 1, 4, 3]
0.1913748579164111

In [65]:
import random
male =['정수', '갑돌', '로미오', '이몽룡', '온돌']
random.shuffle(male)
male

['갑돌', '온돌', '정수', '로미오', '이몽룡']