2024년 4월 24일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Q. 주어진 문자열 리스트에서 유효한 Python 변수 이름만을 추출하여 반환하는 함수를 작성하세요

In [ ]:
# 나의 풀이

identifiers = ["var1","2things","variable_name","time!"]

search = '2'
search1 = '!'

for word in identifiers:
    if search in word:
        print('>> remove: ' + word)
        identifiers.remove(word)
    elif search1 in word:
        print('>> remove: ' + word)
        identifiers.remove(word)

print(identifiers)

In [ ]:
# 정답
def valid_identifiers(identifier):
    valid = []
    for identifier in identifier:
        if identifier.isidentifier():
          valid.append(identifier)
    return valid


  # 예제 실행
identifiers = ["var1","2things","variable_name","time!"]
print(valid_identifiers(identifiers))


# isidentifier()는 파이썬 문자열 메소드로 문자열이 유효한 식별자인지 Check.
# isidentifier()는 예약어인지는 따로 체크하지 않음.
import keyword
def valid_identifiers(identifier):
    valid = []
    for identifier in identifier:
        if identifier.isidentifier() and not keyword.iskeyword(identifier):
            valid.append(identifier)
    return valid

identifiers = ["var1", "2things", "variable_name", "time!", "True"]
print(valid_identifiers(identifiers))

2024년 4월 25일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
# Task1 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

numbers.sort()
print(numbers[0])

numbers.sort(reverse=True)
print(numbers[0],'\n')


#--------------------------------------------------------------------------------

min_value = min(numbers)
max_value = max(numbers)

print(f"최소값: {min_value}, 최대값:  {max_value}","\n")

#--------------------------------------------------------------------------------

min_value1 = numbers[0]
max_value2 = numbers[0]

for number in numbers:
  if number < min_value1:
    min_value1 = number
  elif number < max_value2:
    max_value2 = number

print(f"최소값: {min_value1}, 최대값:  {max_value2}")

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
# Task2 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

# 합계 계산
result = sum(numbers)

# 평균 계산
ave = result / len(numbers)

# 결과 풀력
print(f"합계: {result}, 평균:  {ave}")

In [ ]:
# 파이썬에서 평균을 구하는 내장함수 없음

import statistics
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
avg = statistics.mean(numbers)
print(f"평균: {ave}")

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple'] target='apple'

In [ ]:
# Task3 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

search = []

for search1 in items:
  if 'apple' in search1:
    search.append(search1)

print(search)

In [ ]:
# 리스트 정의
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

# 찾을 요소
target = 'apple'

# 인덱스 찾기
indexes = [index for index, value in enumerate(items) if value == target]

# 결과 출력
print(f"{target}'의 모든 인덱스: {indexes}")

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다. 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

In [ ]:
#Task4 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요.
#단, 처음 등장하는 요소는 유지해야 합니다. 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다

li = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
result = [li[0]]
for i in li[1:]:
  if i != result[-1]:
      result.append(i)
print(result)

In [ ]:
def remove_consecutive_duplicates(items):
   if not items:
      return []
  # 결과 리스트 초기화
      result = [items[0]]
    # 이전 요소와 비교하면서 중복 제거
      for current in items[1:]:
        if current != result[-1]:
          result.append(current)
      return result

# 리스트 정의
items = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']

# 결과 출력
print(remove_consecutive_duplicates(items))

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [ ]:
#Task5 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요.
#k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.
#예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다
a = [1, 2, 3, 4, 5]
def right_rotate(test_list, n):
  new_list = [None for _ in range(len(test_list))]

  for i in range(len(test_list)):

      new_list[i] = test_list[i-n]

  return new_list

  print(right_rotate(a,2))

In [ ]:
# 오른쪽으로 회전
def rotate_list(num, k):
  if not nums:
    return nums
  # 회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k % len(nums)
  # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[-k:] + nums[:-k]
  return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k =2
# 결과 출력
print(rotate_list(nums, k))

In [ ]:
# 왼쪽으로 회전
def rotate_list(num, k):
  if not nums:
    return nums
  # 회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k % len(nums)
  # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[k:] + nums[:k]
  return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k = 2


# 결과 출력
print(rotate_list(nums, k))

2024년 4월 26일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Task_0426 주어진 리스트의 총합과 평균을 동시에 반환하는 함수를 작성하세요 numbers = [10,20,30,40,50]

In [ ]:
def calculate_sum_and_avg(numbers):

# 합계 계산
  total = sum(numbers)
# 평균 계산
  avg = total / len(numbers)
  return (total, avg) # 튜플로 총합과 평균 반환

numbers = [10, 20, 30, 40, 50]
total, avg = calculate_sum_and_avg(numbers)
print(f"총합: {total}, 평균: {avg}")

Task_0426 딕셔너리 d에서 'b'의 값을 확인하면서 그 값을 삭제하세요

In [ ]:
# pop() 함수는 딕셔너리에서 삭제하라는 값을 반환한 후 삭제
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
value = d.pop('b')
print("삭제 값 : ",value)
print(d)

 Task_0426 다음과 같이 학생의 이름과 점수를 튜플로 묶은 리스트가 있습니다:[("Tom",85),("Jane",90),("Bob",75)]

이 리스트를 사용해 학생 이름을 키로, 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요

In [ ]:
student = ("Tom",85),("Jane",90),("Bob",75)

student_dict = dict(student)
print(student_dict)

 Tesk_0426 튜플의 불변생 떄문에 튜플은 딕셔너리의 키로 사용될 수 있습니다. 주어진 위치 좌표 리스트에서 각 위치가 몇 번 나타나는지 계산하는 딕셔너리를 만드세요

In [ ]:
# 위치 좌표의 리스트
positions = [(1, 1), (2, 2), (1, 1), (3, 3), (2, 2)]

# 각 위치의 출현 횟수를 저장할 딕셔너리
position_count = {}

for pos in positions:
  if pos in position_count:
      position_count[pos] += 1
  else:
    position_count[pos] = 1

print(position_count)

{(1, 1): 2, (2, 2): 2, (3, 3): 1}

Task1_0426. 주어진 리스트에서 중복된 요소를 제외하고 고유한 요소의 개수를 세는 프로그램을 작성하세요.

data = [1, 2, 2, 3, 4, 4, 4, 5]

In [ ]:
data = [1, 2, 2, 3, 4, 4, 4, 5]

result_A = list(set(data))

print(len(result_A))

Task2_0426. 두 개의 리스트에서 공통으로 나타나는 요소들을 찾아 리스트로 반환하는 프로그램을 작성하세요.

예시 입력: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7, 8]

예시 출력: [4, 5]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

print(set1 & set2)

{4, 5}

Task3_0426 주어진 숫자 리스트에서 특정 값보다 큰 요소가 하나라도 존재하는지 검사하고, 그 결과를 불 값으로 반환하는 함수를 작성하세요.

numbers = [1, 2, 3, 10, 20]
threshold = 15

In [ ]:
numbers = [1, 2, 3, 10, 20]
threshold = 10

for number in numbers:
    if threshold < number:
        print(bool(1))
        break
else:
    print(bool(0))

True

In [ ]:
numbers = [1, 2, 3, 10, 20]

if any(num > 15 for num in numbers):
  print("True")
else:
  print("False")

True

In [ ]:
def check_greater_than_threshold(numbers,threshold):
  for num in numbers:
    if num > threshold:
        return True
  return False

numbers = [1, 2, 3, 10, 20]
threshold = 15
result = check_greater_than_threshold(numbers,threshold)
print(result)

True

Task4_0426. 주어진 문자열이 특정 문자열을 포함하는지 확인하고 결과를 불 값으로 반환하는 함수를 작성하세요.

text = "hello world"
substring = "world

In [ ]:
text = 'hello world'
substring = 'world'

if substring in text:
    print(bool(1))
else:
    print(bool(0))

True

In [ ]:
def contains_substring(text, substring):
  if substring in text:
    return True
  else:
    return False

text = "hello world"
substring = "world"
result = contains_substring(text, substring)
print(result)

True

사용자 함수의 형태
- 입력값, 출력값 모두 있는 경우
- 입력값만 있는 경우
- 출력값만 있는 경우
- 입출력값이 없는 경우

Task5_0426. 주어진 연도가 윤년인지 판별하는 함수를 작성하세요. 윤년은 다음의 조건을 만족해야 합니다:

4로 나누어 떨어진다.
100으로 나누어 떨어지지 않거나, 400으로 나누어 떨어지면 윤년이다.
year = 2020

True

In [ ]:
year = 2020

if (year % 4 == 0) and ((year % 100 != 0) or (year % 400 == 0)):
    print(bool(1))
else:
    print(bool(0))

In [ ]:
def is_leep_year(year):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
      return True
    else:
      return False

year = 2020
result =is_leep_year(year)
print(result)

True

In [ ]:
def is_leep_year(year):
    if (not year % 4 ) and ((year % 100) or (not year % 400)):
      return True
    else:
      return False

Task6_0426. Calculator 클래스를 작성하고 4칙연산을 수행하는 객체 4개를 작성하여 결과를 출력하세요

In [ ]:
class Calculator:
  def add(self,n1,n2):
    return n1 + n2
  def mul(self,n1,n2):
    return n1 * n2
  def subtract(self,n1,n2):
    return n1 - n2
  def div(self,n1,n2):
    if n2 == 0:
      return "Error"
    else:
      return n1 / n2

# 덧셈
take1 = Calculator()
print(take1.add(5, 2))

# 곱하기
take2 = Calculator()
print(take2.mul(5, 2))

# 뻴셈
take3 = Calculator()
print(take3.subtract(5, 2))

# 나눗셈
take4 = Calculator()
print(take4.div(10, 2))

7
10
3
5.0

Task7_0426. 다음 과제를 수행하세요.

사용자로 부터 텍스트를 입력 받는다.
문자을 단어 단위로 분리 : split()
단어의 빈도수를 저장할 딕셔너리를 생성
각 단어의 빈도 수를 계산(for 문 / if else문): word=word.lower()
결과 출력
[ 예시 ]

문장을 입력하세요: I love apple. I love orange. Apple is tasty

{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}

In [ ]:
text = input("문장을 입력하세요: ")
words = text.split()
word_frequency = {}
for word in words:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

print(word_frequency)

문장을 입력하세요: I love apple. I love orange. Apple is tasty
{'I': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'Apple': 1, 'is': 1, 'tasty': 1}

In [ ]:
# 사용자로부터 문장을 입력 받습니다
sentence = input("문장을 입력하세요:")
# 문장을 단어 단위로 분리합니다
word = sentence.split()
# 단어의 빈도수를 저장할 딕셔너리를 생성합니다
word_frequency = {}
# 각 단어의 빈도수를 계산합니다
for word in words:
    # 대소문자를 구분하지 않기 위해 단어를 소문자로 변환합니다
    word = word.lower() # upper() 대문자로 변경
    # 딕셔너리에 단어가 이미 존재한다면 빈도수를 1 증가시키고, 존재하지 않는다면 새로운 항목으로 추가합니다
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1
# 결과를 출력합니다
print(word_frequency)
# I love apple. I love orange. Apple is tasty

문장을 입력하세요:huhhjhj
{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1, 'apple ': 1, ' banana ': 1, ' orange': 1}

2024년 4월 29일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Task1_0429. input_str을 아래와 같이 단어로 분리하여 출력하세요.

input_str = "Hello, world! How are you today? I am fine. Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you', '']

In [ ]:
text = input("단어 입력 ")
words = text.split()
print(words)

단어 입력Hello, world! How are you today? I am fine. Thank you!
['Hello,', 'world!', 'How', 'are', 'you', 'today?', 'I', 'am', 'fine.', 'Thank', 'you!']

In [ ]:
import re

input_str =  "Hello, world! How are you today? I am fine. Thank you!"
# 여러 구분자(공백, 쉼표, 마침표, 느낌표)를 포함하는 정규 표현식을 사용
tokens = re.split('[ ..?!]+',input_str)
print(tokens)

['Hello,', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you', '']

In [ ]:
import re

input_str =  "Hello, world! How are you today? I am fine. Thank you!"
tokens = re.split('[ ..?!]+',input_str)
tokens =  [token for token in tokens if token ]
print(tokens)

['Hello,', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you']

In [ ]:
import re

input_str =  "Hello, world! How are you today? I am fine. Thank you!"
tokens = re.split('[ ..?!]+',input_str)
tokens =  list(filter(None, tokens))
print(tokens)

['Hello,', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you']

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [ ]:
print(122)
print(0b1111010)
print(0o122)
print(0x122)

In [ ]:
decimal_number = 122
binary_number = bin(decimal_number)
print("2진수 : ", binary_number)

ootal_number = oct(decimal_number)
print("8진수 : ", ootal_number)

hexadecimal_number = hex(decimal_number)
print("16진수 : ", hexadecimal_number)

2진수 :  0b1111010
8진수 :  0o172
16진수 :  0x7a

Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [ ]:
x = 10
y = 11
result = x * y + 10
print(result)

120

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [ ]:
list1 = ['Java', 'C', 'JavaScript']

del list1[1]
print(list1)

list1.append('Python')
print(list1)

['Java', 'JavaScript']
['Java', 'JavaScript', 'Python']

In [ ]:
languages = ['java', 'c', 'JavaScript']
print(languages.pop(1))
languages.append('Python')
print(languages)

c
['java', 'JavaScript', 'Python']

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [ ]:
str1 = "Incredible"
str = str1[:3]+str1[-3:]
print(str)

Incble

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [ ]:
user = {'Alice':'alice@example.com' }
name = input('이름을 입력 ')
if name in user.keys():
    print(name, ' ',user[name], ' ')
else:
    print('해당 사람이 없습니다.')

이름을 입력 Alice
Alice   alice@example.com

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = (4,5,6,7,8)

t1 = set(tuple1)
t2 = set(tuple2)

print(t1 & t2)

{4, 5}

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

- 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
- 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
- 이름이 'John'인 사용자의 정보만 출력하세요.
- 전체 사용자의 평균 나이를 계산하고 출력하세요.
1. 사용자 데이터:
- 이름: John
- 나이: 28
- 좋아하는 색상: Blue
2. 사용자 데이터:
- 이름: Alice
- 나이: 24
- 좋아하는 색상: Red
3. 사용자 데이터:
- 이름: Maria
- 나이: 32
- 좋아하는 색상: Green

In [ ]:
users = []

for _ in range(3):

  name = input("이름 입력 : ")
  age = int(input("나이 입력 : "))
  color = input("좋아하는 색상 입력 : ")

  user_info = {'name' : name, 'age' : age, 'color' : color }
  users.append(user_info)

for user in users:
  if user[ 'name' ] == 'John':
    print(f'John\'s info: {user}')

total_avg = sum(user['age'] for user in users)
average_avg = total_avg / len(users)

print(f'Average age of users : {average_avg: 2f}')

이름 입력 : Jone
나이 입력 : 28
좋아하는 색상 입력 : Blue
이름 입력 : Alice
나이 입력 : 24
좋아하는 색상 입력 : Red
이름 입력 : Maria
나이 입력 : 32
좋아하는 색상 입력 : Green
Average age of users :  28.000000

## 2024년 4월 30일

Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [ ]:
import random

male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
random.shuffle(female)

full = [male + ", " + female for male, female in zip(male, female)]

print(full)

for i, full in enumerate(full):
  print(f'커플{i+1}: {full[0], {full[1]}}')

['온돌, 갑순', '갑돌, 줄리엣', '철수, 평강', '로미오, 미미', '이몽룡, 성춘향']
커플1: ('온', {'돌'})
커플2: ('갑', {'돌'})
커플3: ('철', {'수'})
커플4: ('로', {'미'})
커플5: ('이', {'몽'})

Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

In [ ]:
import random
import string # 문자열 상수를 제공하는 모듈로, 여기서는 알파벳 문자와 숫자를 포함

characters = string.ascii_letters + string.digits # 모든 소문자와 대문자 알파벳을 포함( a - z , A - Z )
password = ''.join(random.choice(characters) for i in range(8))
print("랜덤 비밀번호 : " , password)

랜덤 비밀번호 :  M2jyHzOd

In [ ]:
# 대문자, 소문자, 숫자가 한번씩은 반드시 포함되야 하는 경우

import random
import string

upper = random.choice(string.ascii_uppercase)
lower = random.choice(string.ascii_lowercase)
digit = random.choice(string.digits)

characters = string.ascii_letters + string.digits
rest = ''.join(random.choice(characters) for i in range(5))

# 모든 요소를 하나의 문자열로 합치기
password = upper + lower + digit + rest

# 비밀번호 임의로 찾기
print(password)
password = ''.join(random.sample(password, len(password))) # (선택할 시퀀스, 선택할 요소)
print("랜덤 비밀번호 : " , password)

Fe4BQ96z
랜덤 비밀번호 :  e9z6QB4F

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [ ]:
import random

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

num = int(input("발표자 수  > "))
ans = random.sample(kita, num) # 중복 없이 요소를 선택
print(ans)

발표자 수  > 8
['류윤선', '김홍준', '김한결', '박지환', '김하준', '이현석', '윤호준', '김성현']

Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.

In [ ]:
num = int(input("숫자 입력: "))

for i in range(1, 10):
    print(f'{num} x {i} = {num * i}')

숫자 입력: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [ ]:
# 구구단 전부 출력

for i in range(2, 10):
  for j in range(1, 10):
    print(f'{i} x {j} = {i * j}')
  print('\n')

f - string내에서 { }안에는 변수 뿐만 아니라 Python 표현식도 올 수 있음

In [ ]:
# 구구단 횡 방향 출력

for i in range(2, 10): # 2단 부터 9단 까지
  # 각 단위 이름 중간에 출력
  print(f"{' '*5}{i}단{' '*5}", end="\t") # 중간에 각 단의 이름을 출력
print()

# 구분선 추가
for i in range(2, 10):
  print("="*12, end="\t") # 각 단마다 구분선을 출력
print()

for j in range(1, 10):
  for i in range(2, 10):
    print(f'{i} x {j} = {i * j}', end ='\t')
  print()

     2단     	     3단     	     4단     	     5단     	     6단     	     7단     	     8단     	     9단
============	============	============	============	============	============	============	============
2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.

In [ ]:

num = int(input("팩토리얼을 계산할 숫자를 입력 : "))

factorial = 1

for i in range(1, num + 1):
  factorial *= i
print(f"{num}의 팩토리얼은 {factorial}입니다")

팩토리얼을 계산할 숫자를 입력 : 10
10의 팩토리얼은 3628800입니다

Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

In [ ]:
num1 = []
num2 = []

for i in range(21):
  if i % 2 == 0:
    num1.append(i)
  else:
    num2.append(i)

print(num1)
print(num2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.
numbers = [34, 78, 2, 45, 99, 23]

In [ ]:
 numbers = [34, 78, 2, 45, 99, 23]

max = 0
for i in numbers:
  if i > max:
    max = i
print(max)

99

In [ ]:
 numbers = [34, 78, 2, 45, 99, 23]

 max(numbers)

99

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요.

In [ ]:
#  숫자 맞추기 게임
import random

target_number = random.randint(1, 10)

while True:
  guess = int(input("1부터 10 사이의 숫자를 맞춰보세요 "))
  if guess > target_number:
    print("더 작은 숫자")
  elif guess < target_number:
      print("더 큰 숫자")
  else:
    print("정답")
    break

1부터 10 사이의 숫자를 맞춰보세요 6
정답

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

In [ ]:
birth_year = int(input("태어난 연도를 입력하세요 "))

zodiacs = ["쥐", "소", "호랑이", "토끼", "용", "뱀", "말", "양", "원숭이", "닭", "개", "돼지"]

zodiac_index = (birth_year - 1924) % 12
zodiac = zodiacs[zodiac_index]

print(f'{birth_year}년은 {zodiac}띠입니다')

태어난 연도를 입력하세요 1998
1998년은 호랑이띠입니다

In [ ]:
y = ["원숭이", "닭", "개", "돼지", "쥐", "소", "호랑이", "토끼", "용", "뱀", "말", "양"]

x = int(input("태어난 연도 입력: "))
print(f'{y[x%12]} 띠입니다')

태어난 연도 입력: 1998
호랑이 띠입니다

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [ ]:
coffee = 5

while True:
  money = int(input("돈을 주시면 커피를 드립니다 "))
  if money == 300:
    print("커피를 추출합니다")
    coffee -=1
  elif money > 300:
    print("거스름돈 %d원을 받고 커피를 추출합니다." %(money-300))
    coffee -=1
  else:
    print("금액이 부족하여 %d원을 반환합니다 "%(money))
  if coffee == 0:
    print("커피가 다 소진되었습니다 다음에 오세요 ")
    break

돈을 주시면 커피를 드립니다 500
거스름돈 200원을 받고 커피를 추출합니다.
돈을 주시면 커피를 드립니다 200
금액이 부족하여 200원을 반환합니다
돈을 주시면 커피를 드립니다 300
커피를 추출합니다
돈을 주시면 커피를 드립니다 3000
거스름돈 2700원을 받고 커피를 추출합니다.
돈을 주시면 커피를 드립니다 500
거스름돈 200원을 받고 커피를 추출합니다.
돈을 주시면 커피를 드립니다 400
거스름돈 100원을 받고 커피를 추출합니다.
커피가 다 소진되었습니다 다음에 오세요

In [ ]:
# Q 로또 번호 6개를 6세트 출력하는 코드를 작성하세요 (중복안됨)
import random

r = list(range(1, 46))
for i in range(6):
  lotto = random.sample(r, 6)
  print(lotto)

[19, 13, 39, 16, 15, 35]
[30, 37, 34, 32, 31, 21]
[2, 26, 1, 28, 42, 43]
[45, 34, 28, 43, 44, 24]
[20, 45, 38, 17, 22, 18]
[45, 36, 6, 5, 2, 16]

In [ ]:
# Q n개 그룹으로 분류하는 코드를 작성하세요

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선',
        '김한결','김도현','김하준', '김도원','신현진','소지승','이범석',
        '이현석','이명신','박윤경','이도헌','김홍준']

n = int(input("나눌 숫자 입력 : "))

random.shuffle(kita)

groups = [kita[i::n] for i in range(n)]

for idx, group in enumerate(groups):
  print(f"그룹 {idx + 1}: {group}")

나눌 숫자 입력 : 5
그룹 1: ['서보선', '김성현', '최환욱', '이현석']
그룹 2: ['소지승', '윤호준', '김홍준', '이명신']
그룹 3: ['김도원', '박지환', '이범석', '이도헌']
그룹 4: ['김한결', '김하준', '신현진', '황강민']
그룹 5: ['류윤선', '김도현', '박윤경', '이상협']

In [ ]:
# Q 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요

sum = 0

for i in range(1, 101):
  if i >= 5 and i <= 95:
    sum += i
print(sum)

4550

In [ ]:
sum = 0
while i <= 100:
  if i >=5 and i <=95:
    sum += i
  i += 1
print(sum)

4550

In [ ]:
# Q while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요

count = 1
sum = 0

while count <= 1000:
  if count % 3 ==0 or count % 5 ==0:
    sum += count
  count += 1

print(sum)

234168

In [ ]:
# Q 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요
import datetime
import pytz

tz = pytz.timezone('Asia/Seoul')
now = datetime.datetime.now(tz)
now_time= now.hour
now_time # 현재 시각
if now_time >= 12:
  print("오후")
else:
  print("오전")

오후

In [ ]:
# 다양한 오류 입력에 대한 해결 방안 추가 필요

time = input("현재 시간을 입력하세요 (ex: 15시 30분, 15시, 15) : ")

if '시' not in time:
  print("형식에 맞춰 작성해주세요")
elif int(time.split('시')[0]) >= 0 and int(time.split('시')[0]) < 12:
  print("오전 입니다")
elif int(time.split('시')[0]) >= 12 and int(time.split('시')[0]) < 24:
  print("오후 입니다")
else:
  print("시간을 다시 입력")

현재 시간을 입력하세요 (ex: 15시 30분, 15시, 15) : 15
형식에 맞춰 작성해주세요

In [ ]:
# 가위 바위 보 게임을 코딩을 프로그래밍하세요.

cpu = ['가위', '바위', '보']

win = [('가위', '바위'),('바위', '보'),('보', '가위')]

while 1:
  cpu_select = random.choice(cpu)
  human = input("무엇을 낼래")
  if cpu_select == human:
    print("비겼습니다")
  elif (cpu_select, human) in win:
    print("이겼습니다")
  else:
    print("졌습니다")

In [ ]:
# 가위 바위 보 게임을 코딩을 프로그래밍하세요. 3연승 종료
import random

com_hand = ['가위', '바위', '보']
win_case = {'가위':'바위', '바위':'보', '보':'가위'}
win_number = 0

print('가위 바위 보 시작 ( 3회 승리시 종료 )')
print('주의 : 오타는 패배 ')

while True:
  com_select = com_hand[random.randint(0,2)]
  you_select = input("가위 / 바위 / 보 입력 ")
  print(f'컴퓨터는 {com_select}입니다')
  if win_case[com_select] == you_select:
    win_number += 1
    print(f'이겼습니다. 현재 {win_number}승 ')
  else:
    if com_select == you_select:
      print("비겼습니다")
    else:
      print("졌습니다")
  if win_number == 3:
    print("3승을 달성하여 게임이 종료됩니다")
    break

## 2024년 5월 2일

Task1_0502. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.

In [ ]:
num1 = int(input("첫번쨰 숫자 입력 "))
num2 = int(input("두번쨰 숫자 입력 "))

avg = 0
sum = 0

if num1 % 2 == 0 and num2 % 2 == 0:
  avg = num1 * num2
  print(avg)
elif num1 % 2 == 1 and num2 % 2 == 1:
  sum = num1 + num2
  print(sum)
else:
  print("다시 입력하세요")

첫번쨰 숫자 입력 66
두번쨰 숫자 입력 88
5808

Task2_0502. 현재 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [ ]:
import datetime
import pytz

tz = pytz.timezone('Asia/Seoul')
now = datetime.datetime.now(tz)
now_month= now.month
now_month # 현재 월

if now_month >= 3 and now_month <= 5:
  print("봄 꽃들이 아름다운 계절")
elif now_month >= 6 and now_month <= 8:
  print("여름 바다가 아름다운 계절")
elif now_month >= 9 and now_month <= 11:
  print("가을 나무가 아름다운 계절")
elif now_month >= 2 and now_month == 12:
  print("겨울 눈이 아름다운 계절")

봄 꽃들이 아름다운 계절

In [ ]:
from datetime import datetime

spring = [3, 4, 5]
summer = [6, 7, 8]
autumn = [9, 10, 11]
winter = [12, 1, 2]

today = datetime.now()
month = today.month
if month in spring:
  print("봄")
elif month in summer:
  print("여름")
elif month in autumn:
  print("가을")
else:
  print("겨울")

봄

Task3_0502. 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.

`1*99, 2*98 ...99*1`

In [ ]:
max_value = 0

for i in range(1, 100):
  if max_value >= (i*(100-i)):
    continue
  else:
    max_value = i * (100-i)
print(max_value)

2500

In [ ]:
n = 1
result = 0

while n <= 100:
  a = n*(100-n)
  if a > result:
    result = a
    n += 1
  else:
    n += 1
    continue

print(result)

2500

In [ ]:
# 입력값 없고 출력값만 있는 형태의 사용자 함수

def findBiggestOne():
  biggestNum = 0
  for i, j in zip(range(1, 100), range(99, 0, -1)):
    if i * j > biggestNum:
      biggestNum = i * j
  return biggestNum

print(findBiggestOne())

2500

In [ ]:
numbers = [i for i in range(99, 0, -1)]
print(type(numbers))
print(type(numbers[0]))
print(numbers)

<class 'list'>
<class 'int'>
[99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
numbers = [str(i) for i in range(99, 0, -1)]
print(type(numbers))
print(type(numbers[0]))
print(numbers)

<class 'list'>
<class 'str'>
['99', '98', '97', '96', '95', '94', '93', '92', '91', '90', '89', '88', '87', '86', '85', '84', '83', '82', '81', '80', '79', '78', '77', '76', '75', '74', '73', '72', '71', '70', '69', '68', '67', '66', '65', '64', '63', '62', '61', '60', '59', '58', '57', '56', '55', '54', '53', '52', '51', '50', '49', '48', '47', '46', '45', '44', '43', '42', '41', '40', '39', '38', '37', '36', '35', '34', '33', '32', '31', '30', '29', '28', '27', '26', '25', '24', '23', '22', '21', '20', '19', '18', '17', '16', '15', '14', '13', '12', '11', '10', '9', '8', '7', '6', '5', '4', '3', '2', '1']

Task4_0502. [    ]을 채워서 아래의 출력과 같이 출력하세요.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]
# [[1,4,7],[2,5,8],[3,6,9]]

for num in numbers:
  if num % 3 == 1:
    output[0].append(num)
  elif num % 3 == 2:
    output[1].append(num)
  else:
    output[2].append(num)

print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
  output[(number-1) % 3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

Task5_0502. 주어진 리스트에서 중복된 요소를 제거하고, 남은 요소만을 포함하는 새 리스트를 반환합니다. 순서는 유지해야 합니다.

In [ ]:
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]

nums = set(input_list)
list(nums)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]

for i in input_list:
  if input_list.count(i) > 1:
    input_list.remove(i)
print(input_list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]

def remove_duplicates(input_list):
  num = []
  result = []
  for item in input_list:
    if item not in num:
      num.append(item)
  return num

print(remove_duplicates(input_list))
print(result)

[1, 2, 6, 3, 7, 4, 5]
 ......-...-..---.-----.-..-..-..

In [ ]:
input_list = [1, 2, 6, 2, 3, 7, 4, 4, 5, 6, 7, 7]

print(f'집합 :  {set(input_list)}')

def remove_duplicates

Task6_0502 주어진 문자열을 모스 코드로 변환하는 함수를 작성하세요. 공백은 무시하고 알파벳만 변환하세요
input_text = "Hello World"

In [ ]:
morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }
input_text = "Hello World"
result = " "

for char in input_text:
  if char.upper() in morse_code:
    result += morse_code[char.upper()]

print(result)

 ......-...-..---.-----.-..-..-..

Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.

In [ ]:
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]
print(len(input_matrix))
print(len(input_matrix[0]))

In [ ]:
def diagonal_sums(matrix):
    if not matrix:
        return []
    m, n = len(matrix), len(matrix[0])
    # 최대 가능한 대각선 수는 m + n - 1
    print(m,n)
    max_diagonals = m + n - 1
    result = [0] * max_diagonals

    # 모든 원소를 순회하면서 해당 대각선 인덱스에 값을 더함
    for i in range(m):
        for j in range(n):
            # 대각선 인덱스는 행 인덱스와 열 인덱스의 차의 절댓값
            diagonal_index = i + j
            result[diagonal_index] += matrix[i][j]

    return result

# 매트릭스 입력
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]

# 대각선 합 결과 출력
print(diagonal_sums(input_matrix))

4 3
[1, 6, 15, 24, 20, 12]

 대각선 수 구하기
4행 3열에서
첫 번째 행은 3개의 대각선에 각각 기여합니다.
첫 번째 열은 4개의 대각선에 각각 기여합니다.
 하지만 가장 왼쪽 상단의 원소가 두 방향에서 모두 카운트되므로, 총 대각선 수는 3 + 4 − 1 = 6개가 됩니다.

In [ ]:
# 대각선 합 구하기
a b c
d e f
g h i
j k l

대각선 0: a
대각선 1: b + d
대각선 2: c + e + g
대각선 3: f + h + j
대각선 4: i + k
대각선 5: l

Q 음식점의 음식 가격 산출 프로그랭하세요

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 2
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 11000원 입니다.
'''

In [ ]:
print("KITA 식당에 오신 것을 환영합니다")

menu = ["1번 불고기 비빔밥 12000원", "2번 야채 비빔밥 8000원", "3번 전주 비빔밥"]

print(menu)
choice = int(input("메뉴를 선택하세요 >  "))

if choice == 1:
  set = input("세트 추가? y or n ")
  if set == 'y' or set == 'n':
    print("3000원이 추가됩니다 총가격은 15000원입니다")
elif choice == 2:
  set = input("세트 추가? y or n ")
  if set == 'y' or set == 'n':
    print("3000원이 추가됩니다 총가격은 11000원입니다")
elif choice == 3:
  set = input("세트 추가? y or n ")
  if set == 'y' or set == 'n':
    print("3000원이 추가됩니다 총가격은 13000원입니다")

KITA 식당에 오신 것을 환영합니다
['1번 불고기 비빔밥 12000원', '2번 야채 비빔밥 8000원', '3번 전주 비빔밥']
메뉴를 선택하세요 >  3
세트 추가? y or n n
3000원이 추가됩니다 총가격은 13000원입니다

In [ ]:
def main():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")

if __name__ == "__main__":
    main()

KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 2
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> n
총 금액은 8000원 입니다.

In [ ]:
# 계속 주문

def main():
    print("KITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)

while True:
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    prices = {1: 12000, 2: 8000, 3: 10000}

    total_price = prices.get(menu_choice, 0)

    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")
    print()
    too_order = input("추가 주문을 하시겠습니까? y, n >>> ").lower()
    if too_order == 'y':
      continue
    elif too_order == 'n':
      break

if __name__ == "__main__":
    main()

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 1
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> y
총 금액은 15000원 입니다.

추가 주문을 하시겠습니까? y, n >>> y

비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> 1
세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> n
총 금액은 12000원 입니다.

추가 주문을 하시겠습니까? y, n >>> n
KITA 식당에 오신 것을 환영합니다

========================================

          - 메  뉴 -
    1. 불고기 비빔밥 : 12,000원
    2. 야채 비빔밥 : 8,000원
    3. 전주 비빔밥 : 10,000원

    세트 주문시 : 3,000원 추가
    (세트는 밥과 반찬이 추가됩니다.)

========================================

In [ ]:
def display_menu():
    print("\nKITA 식당에 오신 것을 환영합니다")
    print("\n" + "=" * 40)
    print("\n          - 메  뉴 -")
    print("    1. 불고기 비빔밥 : 12,000원")
    print("    2. 야채 비빔밥 : 8,000원")
    print("    3. 전주 비빔밥 : 10,000원")
    print("\n    세트 주문시 : 3,000원 추가")
    print("    (세트는 밥과 반찬이 추가됩니다.)")
    print("\n" + "=" * 40)


def order():
    # 메뉴별 가격을 설정한다.
    prices = {1: 12000, 2: 8000, 3: 10000}

    # 사용자로부터 메뉴 선택을 받는다.
    menu_choice = int(input("\n비빔밥 메뉴를 선택해 주세요. 1, 2, 3 >>> "))

    # 사용자가 선택한 메뉴의 가격을 가져온다.
    total_price = prices.get(menu_choice, 0)

    # 세트 주문 여부를 확인한다.
    set_order = input("세트 주문을 하시겠습니까? 3,000원 추가. y, n >>> ").lower()
    if set_order == 'y':
        total_price += 3000

    print(f"총 금액은 {total_price}원 입니다.")


def main():
    while True:
        display_menu()
        order()

        # 계속 주문하거나 종료 여부를 확인한다.
        continue_ordering = input("\n다시 주문하시겠습니까? (주문: enter, 종료: '종료' 입력) >>> ")
        if continue_ordering == '종료':
            break

    print("\n감사합니다! 다음에 또 방문해 주세요.")


if __name__ == "__main__":
    main()

## 2024년 5월 3일

Task1_0503 여러개의 음식을 동시에 주문할 수 있는 주문 시스템을 작성하세요 (구조 지향)[시나리오]
1. 시작 인터페이스:
- 시스템 시작 시, 사용자에게 주문 시작 여부를 질문 (y 또는 n으로 응답).
- y 선택 시 주문 프로세스 시작.
- n 선택 시 시스템 종료 및 "감사합니다." 메시지 표시.
2. 메뉴 표시:
- 주문 프로세스 시작 시, 현재 메뉴 항목과 가격 표시.
- 각 메뉴 옆에는 선택 번호 제공 (예: 1, 2, 3).
- 세트 주문 시 추가 비용 안내 (3000원 추가).
3. 주문 입력:
- 메뉴 선택 입력 요청.
- 메뉴 번호 입력 후 세트 주문 여부 질문 (y는 세트, n은 일반).
- 주문 수량 질문 후, 주문 장바구니에 추가.
- 주문이 추가된 후 해당 내용 표시.
4. 주문 취소:
- 잘못 주문했거나 주문 취소 시 0 입력.
- 주문 취소 시 "모든 주문이 취소되었습니다." 메시지 표시.
5. 주문 요약 및 결제:
- 주문 완료하려면 5 입력.
- 주문 내역 및 총 금액 요약 표시.
- 결제 금액 안내 및 결제 진행 요청.
- 결제 완료 후 "총 금액은 XXX원이 결제되었습니다. 감사합니다." 메시지 표시 및 주문 초기화.
6. 반복 주문 가능:
- 결제 후 추가 주문 진행 가능.
- 언제든지 n 입력하여 주문 프로세스 종료 및 시스템 빠져나올 수 있음.

[ 함수 구성 및 역할 ]
1. display_menu()
- 역할: 사용자에게 메뉴 선택지를 표시.
- 세부 기능: 메뉴 아이템과 각각의 가격, 세트 주문 시 추가 비용을 표시.
- 시나리오 연결: 사용자가 주문 프로세스를 시작할 때, 어떤 메뉴를 선택할 수 있는지 표시.
2. display_order_summary()
- 역할: 현재 주문 상태를 요약하여 표시.
- 세부 기능: 선택된 메뉴 항목, 수량, 세트 여부, 각 항목의 가격과 총 주문 금액을 계산하여 표시.
- 시나리오 연결: 주문을 마친 후, 사용자가 자신의 주문 내역을 확인하고 최종 결제하기 전에 전체 주문 내용 검토.
3. add_order(menu_id, is_set)
- 역할: 사용자의 메뉴 선택을 주문 목록에 추가.
- 세부 기능: 메뉴 ID와 세트 여부에 따라 주문을 추가하고, 추가된 주문 정보를 사용자에게 전달.
- 시나리오 연결: 사용자가 메뉴를 선택하고 주문 수량을 입력할 때, 해당 주문을 시스템에 추가 및 확인.
4. process_order()
- 역할: 주문 프로세스의 메인 컨트롤러.
- 세부 기능: 사용자의 입력을 받아 메뉴 선택, 주문, 주문 취소, 결제를 처리하고, 프로세스의 시작과 종료를 관리.
- 시나리오 연결: 전체 주문 프로세스를 실행하고, 사용자의 각 선택에 따라 적절한 행동을 지시하며, 필요에 따라 다른 함수들을 호출.

[ 시나리오의 흐름과 함수 연결 ]
1. 시작: 사용자가 주문을 시작하겠다고 응답하면 (y 입력), display_menu() 함수가 호출되어 사용 가능한 메뉴를 표시.
2. 메뉴 선택: 사용자가 메뉴 번호를 입력하고, 세트 여부를 선택하면 add_order() 함수가 호출되어 주문을 추가.
3. 주문 확인: 주문을 추가할 때마다 display_order_summary() 함수가 호출되어 현재까지의 주문 상태를 확인.
4. 주문 수정 또는 결제: 사용자가 주문을 취소하거나 변경할 수 있고, 최종적으로 결제를 원할 때 process_order() 함수 내에서 결제를 진행.
4. 종료: 주문 결제가 완료되면, 사용자가 추가 주문을 원하지 않을 경우 (n 입력), 시스템이 종료.

이러한 구조화된 접근 방식은 코드의 각 부분이 시나리오의 어떤 단계와 연결되는지 명확하게 정의하며, 시스템의 유지 관리와 확장성을 개선.

In [ ]:
menu_items = {
    '1' : ("불고기 비빔밥" , 12000),
    '2' : ("야채 비빔밥" , 8000),
    '3' : ("전주 비빔밥" , 12000),
}

set_price = 3000
orders = {}
price_total = ()

def display_menu():
    print("\n♣♣♣ KITA 식당에 오신 것을 환영합니다 ♣♣♣")
    print("========================================")
    print("           - 메뉴 -")
    for key, (name, price) in menu_items.items():
        print(f"  {key}. {name} : {price}원")
    print("\n  세트 주문시 : 3000원 추가 (세트는 밥과 반찬이 추가됩니다.)")
    print("========================================")

def display_order_summary():
  global price_total # 전역 변수 price_total 사용 선언
  print("\n 장바구니")
  price_total = 0
  for key, (name, price) in menu_items.items():
    count = orders.get((key, False), 0)
    count_set = orders.get((key, True), 0)
    print(f" {name} {count}개 : {count * price}원")
    print(f" {name} 세트 {count_set}개 : {count_set * (price + set_price)}원")
    price_total += (count * price) + (count_set * (price + set_price))
  print(f" 총 금액 {price_total}원\n")


def add_order(menu_id, is_set):
  item_name, item_price = menu_items[menu_id]
  if is_set:
    item_price += set_price
  num = input(f"\n {item_name}{' 세트' if is_set else ''} 몇개 주문 하시겠습니다까 ?  \m")
  if num.isdigit() and int(num) > 0:
    orders[(menu_id, is_set)] = orders.get((menu_id, is_set), 0) + int(num) # orders는 {(menu_id, is_set):num}
    print(f"\n{item_name}{' 세트' if is_set else ''} {num}개가 장바구니에 담겼습니다. \n")
  else:
    print("양수만 입력")


def process_order():
  while True:
    msg = input(" 주문을 하시겠습니까 ?? ( y 또는 n ) >> ").strip().lower()
    if msg == 'y':
      while True:
        display_menu()
        display_order_summary()
        choice = input(" 주문할 메뉴를 골라주세요 . (불고기 비빔밥 : 1, 야채 비빔밥 : 2, 전주 비빔밥 : 3, \
        전체 취소 : 0, 결제 : 5) >> ").strip().lower()
        if choice in menu_items:
          set_choice = input(" \n 3000원을 추가해 세트로 주문하시겠습니까 ? (일반주문시: n, 세트주문시: y)\n").strip().lower()
          if set_choice in ['y', 'n']:
            add_order(choice, set_choice == 'y')
          else:
            print("올바른 선택을 입력하세요 ( y 또는 n ) ")
        elif choice == '0':
          orders.clear()
          print("\n 모든 주문이 취소되었습니다 ")
        elif choice == '5':
          if price_total > 0:
            print(f'\n 주문하려면 결제해주세요 결제금액 {price_total}원 입니다. \n')
            input("결제를 완료하려면 아무 키나 누르세요.... ") # 사용자가 결제를 확인할 수 있도록 입력 대기
            print(f"\n 총 금액 {price_total}원이 결제 되었습니다. 감사합니다.")
            orders.clear()
            break
          else:
            print('메뉴를 고르고 주문해주세요!')
      else:
        print('메뉴의 지정된 숫자로 입력해주세요')
    else:
      print('감사합니다.')
      break

if __name__ == "__main__":
    process_order()

 주문을 하시겠습니까 ?? ( y 또는 n ) >> n
감사합니다.

Task2_0503. 내장함수 5개를 활용해서 사용자 함수로 간단한 프로그램을 만드세요.

[예시] 문서관리 프로그램

len() - 문자열의 길이를 계산합니다.\
input() - 사용자로부터 입력을 받습니다.\
print() - 결과를 출력합니다.\
sum() - 주어진 조건에 따라 특정 개수를 계산합니다.\
Counter (from collections) - 문자의 빈도수를 계산합니다.

In [ ]:
print("덧셈 계산기")
number1 = int(input("첫번쨰 숫자를 입력하세요 "))
number2 = int(input("두번쨰 숫자를 입력하세요 "))
sum = 0

if int(len(str(number1))) >= 5 and int(len(str(number2))) >= 5:
  sum = number1 + number2
  print(sum,"문제가 조금 어렵네요 ㅎㅎ")
elif int(len(str(number1))) <= 5 and int(len(str(number2))) <= 5:
  sum = number1 + number2
  print(sum,"문제가 쉽네요 ㅎㅎ")

덧셈 계산기
첫번쨰 숫자를 입력하세요 1
두번쨰 숫자를 입력하세요 2
3 문제가 쉽네요 ㅎㅎ

In [ ]:
def string_statistics(user_input):
  # 문자열 길이 반환
  length = len(user_input)

  # 가장 자주 등장하는 문자 찾기
  from collections import Counter
  frequency = Counter(user_input)
  most_common = frequency.most_common(1)[0][0]

  # 숫자 개수 세기
  num_count = sum(c.isdigit() for c in user_input)

  # 대문자 개수 세기
  uppercase_count = sum(c.isupper() for c in user_input)

  # 소문자 개수 세기
  lowercase_count = sum(c.islower() for c in user_input)

  # 결과 출력
  print(f"입력된 문자열의 길이: {length}")
  print(f"가장 자주 등장하는 문자: {most_common}")
  print(f"숫자의 개수: {num_count}")
  print(f"대문자의 개수: {uppercase_count}")
  print(f"소문자의 개수: {lowercase_count}")

  # 사용자 입력 받기
user_input = input("문자열을 입력하세요 ")
string_statistics(user_input)

문자열을 입력하세요 gd
입력된 문자열의 길이: 2
가장 자주 등장하는 문자: g
숫자의 개수: 0
대문자의 개수: 0
소문자의 개수: 2


Task3_0503. 외장함수 3개 이상 활용해서 간단한 프로그램을 만드세요

In [ ]:
import math

num1 = int(input("첫번째 숫자 입력 : "))
num2 = int(input("두번째 숫자 입력 : "))

print(math.sqrt(num1)) # 제곱근
print(math.sqrt(num2)) # 제곱근
print(math.pow(num1,num2)) # 제곱
print(math.pow(num1,num1)) # 제곱
print(math.pow(num2,num2)) # 제곱
print(math.factorial(num1)) # 팩토리얼
print(math.factorial(num2)) # 팩토리얼

첫번째 숫자 입력 : 5
두번째 숫자 입력 : 2
2.23606797749979
1.4142135623730951
25.0
3125.0
4.0
120
2

In [ ]:
import os
import datetime
import shutil

def daily_scheduler():
  # 현재 날짜와 시간을 가져옵니다
  today = datetime.datetime.now()
  date_string = today.strftime("%Y-%m-%d %H:%M:%S")
  print(f"오늘의 날짜와 시간: {date_string}")
  # 작업 파일의 이름을 정합니다
  filename = f"tasks_{today.strftime('%Y%m%d')}.txt"
  # 파일이 이미 존재하는지 확인합니다
  if os.path.exists(filename):
    print(f"'{filename}' 파일이 이미 존재합니다. 백업을 생성합니다 ")
    # 백업 파일 생성
    shutil.copy(filename, filename + ".bak")
  else:
    print(f"'{filename} 파일이 존재하지 않습니다 새로운 파일을 생성합니다")
  # 사용자로부터 오늘의 주요 작업을 입력받습니다
  task = input("오늘의 주요 작업을 입력하세요 : ")
  # 작업 내용을 파일에 저장합니다
  with open(filename, 'a') as file:
    file.write(f"{date_string}: {task}\n")
  print(f"'{filename}' 파일에 작업이 저장되었습니다")

if __name__ == "__main__":
    daily_scheduler()

오늘의 날짜와 시간: 2024-05-07 03:35:38
'tasks_20240507.txt 파일이 존재하지 않습니다 새로운 파일을 생성합니다
오늘의 주요 작업을 입력하세요 : 점심 식사
'tasks_20240507.txt' 파일에 작업이 저장되었습니다

Task4_0503. 리스트를 작성하고 람다 함수를 이용해서 한번에 함수를 적용하여 결과값을 출력하세요.

In [ ]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = map(lambda x: x * x, numbers)
print(list(squared_numbers))

[1, 4, 9, 16, 25]

In [ ]:
# 짝수
numbers = [1, 2, 3, 4, 5]
filtered_numbers = filter(lambda x: x % 2 == 0, numbers)
print(list(filtered_numbers))

[2, 4]

Task5_0503. 외부 라리브러리를 임포트해서 간단한 프로그램을 만드세요.

from bs4 import BeautifulSoup
html_doc = "<html><head><title>Hello World</title></head></html>"
soup = BeautifulSoup(html_doc, 'html.parser')
print(soup.title.text)

In [ ]:
!pip install requests -q

In [ ]:
import requests
from bs4 import BeautifulSoup

def fetch_website_content(url):
  # URL에서 데이터를 가져옵니다
  response = requests.get(url)
  if response.status_code == 200:
    # HTML 내용을 BeautifulSoup 객체로 파싱합니다
    soup = BeautifulSoup(response.text, 'html.parser')

    # 예제: 페이지 타이틀을 출력합니다
    print("Page Title:", soup.title.string if soup.title else "No title found")
  else:
    print("Failed to retrieve the webpage")
    print("Status code: ", response.status_code)

if __name__ == "__main__":
  url = input("저장하고 싳은 웹사이트의 URL을 입력하세요 ")
  fetch_website_content(url)

저장하고 싳은 웹사이트의 URL을 입력하세요 https://www.naver.com/
Page Title: NAVER

## 2024년 5월 7일

Task1_0507. 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요.

strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')

In [ ]:
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
sorted_strings = sorted(strings, key = lambda x: len(set(x)), reverse = True)
print(sorted_strings)

['bar', 'ca', 'ababa', 'a', 'aaaa']

In [ ]:
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa')
strings = list(strings)
strings.sort(key=lambda x: len(set(x)), reverse =True)
print(list(strings))

['bar', 'ca', 'ababa', 'a', 'aaaa']

Task2_0507. a,b 변수와 연산자를 입력하면 사칙연산을 수행하는 코드를 작성하세요.(eval 사용하는 경우와 안하는 경우)

In [ ]:
num = input("계산할 수식을 입력하세요 ")
result = eval(num)
print(f"계산 결과 :  {result}")

계산할 수식을 입력하세요 5+5
계산 결과 :  10

In [ ]:
num = input("수식 입력  >  ")
maths = ['+', '-', '/', '*']
math = {'+': lambda a,b:a+b, '-': lambda a,b:a-b, '/':lambda a,b:a/b, '*':lambda a,b:a*b }

num_list = list(num)
for i in num_list:
  if i in maths:
    num = num.split(i)
    print(math[i](int(num[0]), int(num[1])))

수식 입력  >  5+5
10

In [ ]:
num1 = int(input("첫번쨰 숫자를 입력하세요 >> "))
num2 = int(input("두번쨰 숫자를 입력하세요 >> "))

math = input("사칙 연산을 입력하세요 ")

if math == '+':
  number = num1 + num2
  print(number)
elif math == '-':
  number = num1 - num2
  print(number)
elif math == '*':
  number = num1 * num2
  print(number)
elif math == '/':
  number = num1 % num2
  print(number)

첫번쨰 숫자를 입력하세요 >> 2
두번쨰 숫자를 입력하세요 >> 8
사칙 연산을 입력하세요 /
2

Task3_0507. list1에 대해서 아래와 같이 출력하는 코드를 작성하세요.

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.\
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.\
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.\
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.\
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.\
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

In [ ]:
list1 = ['김부장', '이차장', '김과장', '이대리', '오사원', '김인턴']

for i, a in enumerate(list1):
  print(f'인사평가 {i+1}번째 해당자는 {a}입니다. 회의실A로 오시기 바랍니다. ')

인사평가 1번째 해당자는 김부장입니다. 회의실A로 오시기 바랍니다.
인사평가 2번째 해당자는 이차장입니다. 회의실A로 오시기 바랍니다.
인사평가 3번째 해당자는 김과장입니다. 회의실A로 오시기 바랍니다.
인사평가 4번째 해당자는 이대리입니다. 회의실A로 오시기 바랍니다.
인사평가 5번째 해당자는 오사원입니다. 회의실A로 오시기 바랍니다.
인사평가 6번째 해당자는 김인턴입니다. 회의실A로 오시기 바랍니다.

Task4_0507. 주어진 문자열 리스트의 요소들을 대문자로 변환하세요.
words = ["hello", "world", "python", "map"]

In [ ]:
words = ["hello", "world", "python", "map"]

upper = []
for i in words:
    upper.append(i.upper())
print(upper)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [ ]:
words = ["hello", "world", "python", "map"]
print([i.upper() for i in words])

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [ ]:
# 요소를 이용
result = []
words = ["hello", "world", "python", "map"]
for word in words:
  result.append(word.upper())
print(result)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

In [ ]:
# str.upper는 문자열의 모든 문자를 대문자로 변환하는 메소드
words = ["hello", "world", "python", "map"]
upper_words = list(map(str.upper, words))
print(upper_words)

['HELLO', 'WORLD', 'PYTHON', 'MAP']

Task5_0507. 주어진 리스트에서 'p'로 시작하는 단어만 필터링하세요.

words = ["python", "is", "powerful", "programming", "language", "pandas"]

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]
filtered_words = filter(lambda x: x[0] == 'p', words)
print(list(filtered_words))

['python', 'powerful', 'programming', 'pandas']

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]
print([i for i in words if i.startswith('p')]) # 조건을 만족하는 요소를 출력

['python', 'powerful', 'programming', 'pandas']

In [ ]:
words = ["python", "is", "powerful", "programming", "language", "pandas"]
p_words = list(filter(lambda x: x.startswith('p'), words))
print(p_words)

['python', 'powerful', 'programming', 'pandas']

Task6_0507. 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요.(2가지 방법)

In [ ]:
list = [0, 1, 2, 3, 4, 5, 6]

del list[2]
print(list)

[0, 1, 3, 4, 5, 6]

In [ ]:
list = [0, 1, 2, 3, 4, 5, 6]
list.remove(2) # 값
print(list)

[0, 1, 3, 4, 5, 6]

In [ ]:
list = [0, 1, 2, 3, 4, 5, 6]
list.pop(2) # 인덱스
print(list)

[0, 1, 3, 4, 5, 6]

Task7_0507. 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요.

[1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]\
[1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]\
('abc','def') -> [('a','d'),('b','e'),('c','f')]

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]
tuple4 = ('abc', 'def')
print([i for i in zip(list1, list2)])
print([i for i in zip(list1, list2, list3)])
print([i for i in zip(tuple4[0],tuple4[1])])

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

Task8_0507. url에서 호스트 도메인(news.naver.com)을 추출하여 출력하세요.

url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

In [ ]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'
print(url.split('/')[2])

news.naver.com

In [ ]:
print(range(10), type(range(10)))
print([ i for i in range(10)])
print(type([i for i in range(10)]))

range(0, 10) <class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

## 2024년 5월 8일

Task1_0508. title() 함수를 사용하지 않고 동일한 결과를 출력하세요

lee bum seok -> Lee Bum Seok

In [ ]:

def name(s):
    txt = input("영어 이름 >>")
    words = txt.split()  # 문자열을 공백을 기준으로 나눠 리스트로 변환
    english = [word.capitalize() for word in words]  # 각 단어의 첫 글자를 대문자로 변환
    return " ".join(english)  # 리스트의 단어들을 다시 공백으로 연결하여 문자열로 반환

print(name(txt))

영어 이름 >>lee bum seok
Lee Bum Seok

In [ ]:
a = input("이름을 영어로 입력하세요.")

b=a.strip().split(" ")
e =""

for i in range(len(b)):
    c = list(b[i])

    c[0] = c[0].upper()
    d = "".join(c)
    c = []
    e = e + d + " "
print(f"당신의 이름을 바꾸면 {e}입니다.")

Task2_0507. join 함수를 이용해서 ['a','b','c']을 아래와 같이 출력하세요.

a::b::c

In [ ]:
a = ['a','b','c']
bond = '::'
log = bond.join(a)
print(log)

a::b::c

In [ ]:
li = ['a','b','c']
'::'.join(li)

Task3_0508. 다음을 수행하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 숫자로만 이루어져 있는지 확인합니다.
- 만약 숫자로만 이루어져 있다면, 그 숫자를 정수로 변환하여 100을 더한 결과를 출력합니다.
- 숫자가 아닌 문자가 포함되어 있다면, 사용자에게 숫자만 입력하라는 메시지를 출력합니다.
- 연산이 수행이 완료될 때까지 반복하고 수행이 완료되면 break 합니다.

In [ ]:

while True:
  txt = input("문자열 입력 >> ")
  a = txt.isdigit()
  if a == True:
    result = int(txt) + 100
    print("결과:", result)
    break
  else:
    print("숫자만 입력하세요.")

문자열 입력 >> 피지컬100
숫자만 입력하세요.
문자열 입력 >> 100
결과: 200

In [ ]:
while 1:
  num = input('숫자를 입력하세요.')
  if num.isdigit():
      print(int(num)+100)
      break
  else:
      print('숫자만 입력하세요.')

Task4_0508. 문자와 숫자로만 구성된 아이디만 유효한 규칙을 만들려고 한다. 아래 사항을 참조하여 프로그램을 작성하세요.
- 사용자로부터 문자열을 입력받습니다.
- 입력받은 문자열이 알파벳과 숫자로만 이루어져 있는지 확인합니다.
- 만약 조건을 만족한다면 "유효한 아이디입니다"라고 출력합니다.
- 그렇지 않다면, "아이디는 알파벳과 숫자만 포함할 수 있습니다"라고 메시지를 출력합니다.

In [ ]:
txt = input("문자열 입력 >> ")

ret = txt.isalnum()

if ret == True:
  print("유효한 아이디입니다 ")
else:
  print("아이디는 알파벳과 숫자만 포함할 수 있습니다")

문자열 입력 >> 12345
유효한 아이디입니다

In [ ]:

while 1:
    txt = input("문자열 입력 >> ")
    ret = txt.isalnum()
    if ret == True:
      print("유효한 아이디입니다 ")
      break
    else:
      print("아이디는 알파벳과 숫자만 포함할 수 있습니다")

문자열 입력 >> 44%
아이디는 알파벳과 숫자만 포함할 수 있습니다
문자열 입력 >> hello
유효한 아이디입니다

Task5_0508. 코딩을 한줄로 작성해서 동일한 결과를 출력하세요.
list = []
for i in range(0,20,2):
    list.append(i*i)
print(list)

In [ ]:
list = []
for i in range(0,20,2):
  list.append(i*i)
print(list)

print

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
print([i*i for i in range(0,20,2)])

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
print(list(map(lambda x: x*x, range(0,20,2))))

Task6_0508. 유닉스 타임스탬프를 받아서 해당 시간을 datetime.datetime 객체로 변환하고, 그 결과를 출력하는 사용자 함수를 작성하여 임의의 타임스탬프를 입력하여 결과를 출력하세요

In [ ]:
import datetime

timestamp = 1609160537
dt = datetime.datetime.fromtimestamp(timestamp)

print(dt)

2020-12-28 13:02:17

In [ ]:
def timestamp_to_datetime(timestamp):
    return datetime.fromtimestamp(timestamp)
# timestamp = 1609160537.371015
ts = float(input('timestamp을 입력하세요 >> '))
dt = timestamp_to_datetime(ts)
print(dt)

Task7_0508. datetime 객체를 문자열로 변환하는 사용자 함수를 작성하여 datetime 객체를 "YYYY-MM-DD HH:MM:SS" 형식의 문자열로 변환하고 출력하세요.

In [ ]:
from datetime import datetime

s = datetime.now()

s1 = s.strftime("%Y-%m-%d %H:%M:%S")
print(s1,type(s1))

2024-05-08 07:50:43 <class 'str'>

In [ ]:
import datetime
def datetime_to_string(dt):
    return dt.strftime('%Y-%m-%d %H:%M:%S')

dt = input('datetime을 입력하세요> ')
dt = datetime.datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S')
s = datetime_to_string(dt)
print(s)

datetime을 입력하세요> 2024-05-09 01:28:22

NameError: name 'date_string' is not defined

In [ ]:
Task7번 타임존을 한국 기준으로 바꾸어 출력되게 하는 코드 아래와 같습니다.
from datetime import datetime

# def str_date (date) :
#   return date.strftime('%Y-%m-%d %H:%M:%S')

def datetime_to_string(dt):
    soeul_timezone = pytz.timezone('Asia/Seoul')
    dt_korea = dt.astimezone(soeul_timezone)
    return dt_korea.strftime('%Y-%m-%d %H:%M:%S')

# result = str_date(datetime.now())
result = datetime_to_string(datetime.now())
print(result , type(result))

In [ ]:
!pip install pytz

Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (2023.4)

In [ ]:
import datetime
import pytz

def datetime_to_string(dt):
  soeul_timezone = pytz.timezone('Asia/Seoul')
  dt_korea = dt.astimezone(soeul_timezone)
  return dt_korea.strftime('%Y-%m-%d %H:%M:%S')

data_string = input("datetime을 입력하세요 > ")
dt = datetime.datetime.strptime(date_string, '%Y-%m-%d %H:%M:%S')
dt = dt.replace(tzinfo=pytz.utc)
s = datetime_to_strinf(dt)
print(s)

Task8_0508. 올해 경과된 날짜수 계산하세요.

In [ ]:
from datetime import datetime

# 현재 날짜 가져오기
today = datetime.now()

# 1월 1일 날짜 생성
start = datetime(today.year, 1, 1)

# 경과된 날짜 계산
end = (today - start).days

print("올해 경과된 날짜 수:", end)

올해 경과된 날짜 수: 129

Task9_0508. 현재 요일을 "2021-6-26 오늘은 토요일입니다."와 같은 형식으로 출력하세요.

In [ ]:
from datetime import datetime

def week(dt):
    # 요일을 문자열로 매핑
    days = ["월요일", "화요일", "수요일", "목요일", "금요일", "토요일", "일요일"]
    # 날짜 형식 지정
    formatted_date = dt.strftime("%Y-%m-%d")
    # 요일 가져오기
    day = days[dt.weekday()]
    # 형식에 맞춰 문자열 반환
    return f"{formatted_date} 오늘은 {day}입니다."

# 현재 날짜와 시간 가져오기
current_datetime = datetime.now()

print(week(current_datetime))

2024-05-09 오늘은 목요일입니다.

In [ ]:
import time

weekdays = ['월요일','화요일','수요일','목요일','금요일','토요일','일요일']
t = time.localtime()
today = f'{t.tm_year}-{t.tm_mon}-{t.tm_mday}'
week = weekdays[t.tm_wday]
# print('%s 오늘은 %s입니다' %(today, week))
print(f'{today} 오늘은 {week}입니다.')

Task10_0508. 1에서 백만까지 더하는데 걸리는 프로그램 실행 시간을 밀리초(ms) 단위로 구하세요.(1ms=0.001초)

In [ ]:
import time

start = time.time()

# 1부터 백만까지의 숫자 더하기
total = 0
for i in range(1, 1000001):
    total += i

end = time.time()

# 실행 시간 계산 (초 단위)
time = end - start
# 밀리초(ms) 단위로 변환
time_ms = time * 1000

print("시간: {:.3f} 밀리초".format(time_ms))

시간: 132.740 밀리초

In [ ]:
import time

t1 = time.time()
t2 = 0
result = 0

for i in range(1000000):
    result += i+1
else:
    t2 = time.time()

print(f'백만까지 더한 값: {result}\n걸린 시간: {round((t2-t1)*1000)} (ms)')

## 2024년5월 9일

Task1_0509. 주어진 텍스트에서 문자 빈도를 아래와 같이 출력하세요.(사용자 함수 사용)

가장 많이 나온 문자 5개를 뽑아 봤습니다.\
[e] -> [97]회 나타남\
[t] -> [85]회 나타남\
[a] -> [78]회 나타남\
[o] -> [73]회 나타남\
[s] -> [60]회 나타남

In [ ]:
with open('mydata.txt','w') as f:
    f.write(
'''
a lot of things occur each day
we've got to live with on our way
there's so much misery on the screen
with commercials in between

and the russians won't be so late
uncle sam don't want to wait
no matter if you're black or white
you never ever had a right

and look up to the eternal skies
see warfare even there
what once has been a paradise
now destruction and despair

in other worlds the children die
lacking food ill from a fly
oppressed by troops to tame their land
it's all the same again


if any man is free on earth
then tormentors steal his birth
they slam gun butts in his face
and leave his woman choked in mace

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late

how many tears flow away
to become a sea of fears
how many hearts are torn apart
till another torment starts

but before the world
turns into a sun
all cruelty and violence
on earth will be dead and gone

so stand up for our human rights
push back this pest of hate
raise you voice pass on the light
unite! it's not too late
''')
with open('mydata.txt', 'r') as f:
    data = f.read()
    print(data)

In [ ]:
import re
with open('mydata.txt','r') as f:
  text = f.read()

char_list = re.sub(r'[ ..!\n\']', '', text)
word_list = re.sub(r'[..!\n\']', '', text).lower().split()

print(len(text))
print(len(char_list))
print(len(word_list))

1073
840
178

In [ ]:
# 사용자 함수 적용
def getTextFreq(filename):
  with open(filename, 'r') as f:
    text = f.read()
    text = re.sub(r'[ ..!\n\']', '', text)
    fa = {}
    for c in text:
      if c in fa:
        fa[c] += 1
      else:
        fa[c] = 1
  return fa

ret = getTextFreq('mydata.txt')
print(ret.items(),'\n')
ret = sorted(ret.items(), key = lambda x:x[1],reverse=True)

for c, freq in ret[:5]:
  if c == '\n':
    continue
  print(f'[{c}] -> [{freq}]회 나타남')

dict_items([('a', 78), ('l', 34), ('o', 73), ('t', 85), ('f', 17), ('h', 48), ('i', 50), ('n', 60), ('g', 11), ('s', 60), ('c', 23), ('u', 27), ('r', 54), ('e', 97), ('d', 24), ('y', 15), ('w', 20), ('v', 9), ('m', 20), ('b', 13), ('k', 7), ('p', 15)])

[e] -> [97]회 나타남
[t] -> [85]회 나타남
[a] -> [78]회 나타남
[o] -> [73]회 나타남
[n] -> [60]회 나타남

Task2_0509.  람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요.

[1,2,3,4,5] -> [1,4,9,16,25]\
[1,2,3,4,5] -> [1,2]

In [ ]:
numbers = [1, 2, 3, 4, 5]

# 제곱
result1 = list(map(lambda x: x ** 2, numbers))
print(result1)

# 3보다 작은수
result2 = list(filter(lambda x: x < 3, numbers))
print(result2)

[1, 4, 9, 16, 25]
[1, 2]

Task3_0509. [1,-3,2,0,-5,6] 에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

In [ ]:
numbers = [1,-3,2,0,-5,6]

num = list(filter(lambda x: x > 0, numbers))
print(num)

[1, 2, 6]

In [ ]:
numbers = [1,-3,2,0,-5,6]

def num(numbers):
  return numbers > 0

num1 = list(filter(num, numbers))
print(num1)

[1, 2, 6]

Task4_0509. **args를 이용하여 아래와 같이 출력할 수 있는 사용자 함수 func2를 작성하세요.

Width: 100\
Height: 200\
Other arguments: {'color': 'red', 'thickness': 5}

Width: 100\
Height: 200\
Other arguments: {'color': 'red', 'thickness': 5, 'type': 'large'}

In [ ]:
def func2(width, height,**kwargs):

    print(f"Width: {width}")
    print(f"Height: {height}")
    print(f"Other arguments: {kwargs}")

    print()

func2(100, 200, color='red', thickness=5)

func2(100, 200, color='red', thickness=5, type='large')

Width: 100
Height: 200
Other arguments: {'color': 'red', 'thickness': 5}

Width: 100
Height: 200
Other arguments: {'color': 'red', 'thickness': 5, 'type': 'large'}

Task5_0509. 아래와 같은 결과를 얻을 수 있도록 사용자 함수 func3를 작성하세요.

Width: 100, Height: 200, Color: blue, Thickness: 1

Width: 100, Height: 200, Color: red, Thickness: 15

In [ ]:
def func3(width, height, color, thickness):
    print(f"Width:", width,"Height:", height,"Color:", color,"Thickness:", thickness)

    print()

func3(width=100, height=200, color='blue', thickness=1)
func3(width=100, height=200, color='red', thickness=15)

Width: 100 Height: 200 Color: blue Thickness: 1

Width: 100 Height: 200 Color: red Thickness: 15

In [ ]:
def func3(a, b, color='blue', thickness=1):
  print(f"Width:, {a}, Height: {b}, Color: {color}, Thickness: {thickness}")

func3(100,200)
func3(100,200,color='red',thickness=15)

Width:, 100, Height: 200, Color: blue, Thickness: 1
Width:, 100, Height: 200, Color: red, Thickness: 15

Task6_0509. 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

In [ ]:
def cal_average(*args):
  return sum(args) / len(args)

print(cal_average(1,2,3))
print(cal_average(10,20,30,40,50))

2.0
30.0

Task7_0509. 원의 면적과 둘레의 길이를 구하는 사용자 함수를 작성하여 반지름이 5와 10일때 면적과 둘레를 구하세요(반올림:round())

In [ ]:
import math

def area_circumference(r):
  area = math.pi*r*r
  circumference = 2*math.pi*r
  print(f"면적 : {round(area,2)}, 둘레: {round(circumference,2)}")

area_circumference(5)
area_circumference(10)

면적 : 78.54, 둘레: 31.42
면적 : 314.16, 둘레: 62.83

Task8_0509. 게시물의 총 건수와 한 페이지에 보여 줄 게시물 수를 입력시 총 페이지 수를 출력하는 프로그램을 작성하세요.

In [ ]:

total_posts = int(input("총 게시물 수를 입력하세요: "))
post_page = int(input("한 페이지에 보여 줄 게시물 수를 입력하세요: "))

def total_page(total_posts, post_page):
    if total_posts <= 0 or post_page <= 0:
        return 0
    return (total_posts + post_page - 1) // post_page


total_pages = total_page(total_posts, post_page)
print("총 페이지 수:", total_pages)

총 게시물 수를 입력하세요: 100
한 페이지에 보여 줄 게시물 수를 입력하세요: 5
총 페이지 수: 20

In [ ]:
import math
total = int(input("총 게시물수 : "))
show = int(input("한페이지 보여줄 게시물 수 : "))
result = math.ceil(total/show)
print(f'총페이지수는 {result} 입니다')

총 게시물수 : 100
한페이지 보여줄 게시물 수 : 7
총페이지수는 15 입니다

Task9_0509. 위의 문제를 *args를 사용한 사용자 함수 bignum을 작성하여 bignum(20,1,30)과 bignum(20,10,50,70, 100)의 결과를 출력하세요.

In [ ]:
def max(a,b,c):
  if a>b:
    if a>c:
      return a
    elif a<c:
      return c
  if a<b:
    if b>c:
      return b
    else:
      return c

print("가장 큰 수는 %d입니다." %(max(20,1,30)))
max(10,20,30)

In [ ]:
def bignum(*args):
  return max(args)

print(bignum(20,1,30))
print(bignum(20,10,50,70, 100))

30
100

Task10_0509. 위의 계산을 연산자를 choice로 가변적인 숫자들을 *args로 사용한 사용자 함수 cal을 이용하여 다음을 수행하세요.

cal('*',1,2,3,4,5)

cal('+',1,2,3,4,5,6,7)

cal('-',1,2,3,4,5,6,7)

cal('/',10,3)

In [ ]:
def cal(choice, *args):
  result = args[0]
  for i in args[1:]:
    if choice == '+':
      result += i
    elif choice == '-':
      result -= i
    elif choice == '*':
      result *= i
    elif choice == '/':
      if i == 0:
        return print("오류")
      else:
        result /= i
    else:
      return " 계산할 수 있는 기호가 아닙니다"
  return result

print(cal('*',1,2,3,4,5))
print(cal('+',1,2,3,4,5,6,7))
print(cal('-',1,2,3,4,5,6,7))
print(cal('/',10,3))

120
28
-26
3.3333333333333335

## 2024년 5월 10일

Task1_0510. try ~ except, try ~ except ~ finally, try ~ except ~else, try ~ except ~else ~finally 4가지 예외 처리가 필요한 경우에 대해서 코딩을 수행하세요.

In [ ]:
# 1 - 1
try:
  ans = int(input('정수값을 입력하세요 : '))
except:
  print('잘못 입력하셨습니다 다음에 이용')

# 1 - 2
try:
  ans = int(input("정수값 입력  >> "))
except:
  print('잘못 입력 다음에 이용')
finally:
  print('프로그램 종료')

정수값을 입력하세요 : ㅎ
잘못 입력하셨습니다 다음에 이용
정수값 입력  >> ㅎ
잘못 입력 다음에 이용
프로그램 종료

In [ ]:
# 1 - 3
try:
  ans = int(input('정수값 입력 : '))
except:
  print('잘못 입력 다음에 이용')
else:
  print(f'오늘의 행운 숫자 {ans}입니다 ')

# 1 - 4
try:
  ans = int(input('정수값 입력 : '))
except:
  print('잘못 입력 다음에 이용')
else:
  print(f'오늘의 행운 숫자 {ans} ')
finally:
  print('프로그램 종료')

정수값 입력 : 5
오늘의 행운 숫자 5입니다
정수값 입력 : ㅏ
잘못 입력 다음에 이용
프로그램 종료

Task2_0510. 리스트 ['52','273','32','문자','103']에서 숫자 부분만 출력하세요(예외 처리 수행)

In [ ]:
list1 = {'52','273','32','문자','103'}

result = []
for i in list1:
  try:
    result.append(int(i))
  except:
    pass
print(result)

[273, 32, 52, 103]

Task3_0510. 두가지 시나리오를 예외처리를 하여 코드 작업을 수행하세요
- 정수를 입력하면 > '예외 발생하지 않음' > '프로그램 종료'
- 정수를 입력하지 않으면 > '정수 아님' > '프로그램 종료'

In [ ]:
try:
  n = int(input('정수 입력 >> '))
except:
  print('정수 아님')
else:
  print(n)
  print('예외 발생하지 않음')
finally:
  print('프로그램 종료')

Task4_0510. 생성자만으로 구성된 클래스를 작성하고 객체 3개를 만들어서 결과를 출력하세요.

In [ ]:
class Test:
  def __init__(self, a, b):
    self.a = a
    self.b = b
    print(a + b)
obj1 = Test(1, 2)
obj2 = Test(3, 8)
obj3 = Test(10, 21)

3
11
31

Task5_0510. 생성자, 메소드를 모두 포함하는 클래스를 작성하고 객체 3개를 만들어서 결과를 출력하세요

In [ ]:
class MyCar:
  def __init__(self, name, color='white', price = 2000):
    self.name = name
    self.color = color
    self.price = price

  def car_sound(self):
    if self.price > 15000:
      print('부와아아아')
    elif self.price > 10000:
      print('부우부우')
    else:
      print('털털털털')

a = MyCar('아반뗴')
b = MyCar('페라리', 'red', 17000)
c = MyCar('벤츠', 'black', 11000)

# 생성자 지정값 확인
print(a.name)
print(b.price)
print(c.color)

print()

# 메소드 확인
a.car_sound()
b.car_sound()
c.car_sound()

아반뗴
17000
black

털털털털
부와아아아
부우부우

Task6_0510. 여러개의 음식을 주문할 수 있는 주문 시스템을 작성하세요.(클래스 활용 - 객체 지향)

In [ ]:
class OrderSystem:
    def __init__(self):
        self.menu_items = {
            '1': ("불고기 비빔밥", 12000),
            '2': ("야채 비빔밥", 8000),
            '3': ("전주 비빔밥", 10000)
        }
        self.set_price = 3000
        self.orders = {}
        self.price_total = 0

    def display_menu(self):
        print("\n♣♣♣ KITA 식당에 오신 것을 환영합니다 ♣♣♣")
        print("========================================")
        print("           - 메뉴 -")
        for key, (name, price) in self.menu_items.items():
            print(f"  {key}. {name} : {price}원")
        print("\n  세트 주문시 : 3000원 추가 (세트는 밥과 반찬이 추가됩니다.)")
        print("========================================")

    def display_order_summary(self):
        print("\n■장바구니")
        self.price_total = 0
        for key, (name, price) in self.menu_items.items():
            count = self.orders.get((key, False), 0)
            count_set = self.orders.get((key, True), 0)
            print(f" {name} {count}개: {count * price}원")
            print(f" {name} 세트 {count_set}개: {count_set * (price + self.set_price)}원")
            self.price_total += (count * price) + (count_set * (price + self.set_price))
        print(f" 총 금액 {self.price_total}원\n")

    def add_order(self, menu_id, is_set):
        item_name, item_price = self.menu_items[menu_id]
        if is_set:
            item_price += self.set_price
        num = input(f"\n● {item_name}{' 세트' if is_set else ''} 몇 개 주문 하시겠습니까?\n")
        if num.isdigit() and int(num) > 0:
            self.orders[(menu_id, is_set)] = self.orders.get((menu_id, is_set), 0) + int(num)
            print(f"\n{item_name}{' 세트' if is_set else ''} {num}개가 장바구니에 담겼습니다.\n")
        else:
            print('★양수만 입력하세요.★')

    def process_order(self):
        while True:
            print('★비빔밥 주문 KIOSK★','\n')
            msg = input("● 주문을 하시겠습니까? (y 또는 n) >> ").strip().lower()
            if msg == 'y':
                while True:
                    self.display_menu()
                    self.display_order_summary()
                    choice = input("● 주문할 메뉴를 골라주세요. (불고기 비빔밥:1, 야채 비빔밥:2, 전주 비빔밥:3, 전체 취소:0, 결제:5) >> ").strip().lower()
                    if choice in self.menu_items:
                        set_choice = input("\n●3000원을 추가해 세트로 주문하시겠습니까? (일반주문시:n, 세트주문시:y)\n").strip().lower()
                        if set_choice in ['y', 'n']:
                            self.add_order(choice, set_choice == 'y')
                        else:
                            print('★올바른 선택을 입력하세요 (y 또는 n).★')

                    elif choice == '0':
                        self.orders.clear()
                        print('\n모든 주문이 취소되었습니다.')

                    elif choice == '5':
                        if self.price_total > 0:
                            print(f'\n●주문하려면 결제해주세요. 결제금액은 {self.price_total}원 입니다.\n')
                            input("결제를 완료하려면 아무 키나 누르세요...")  # 사용자가 결제를 확인할 수 있도록 입력 대기
                            print(f"\n총 금액은 {self.price_total}원이 결제 되었습니다. 감사합니다.",'\n')
                            self.orders.clear()
                            break
                        else:
                            print('★메뉴를 고르고 주문해주세요!★')

                    else:
                        print('★메뉴의 지정된 숫자로 입력하세요★')

            else:
                print('감사합니다.')
                break

if __name__ == "__main__":
    order_system = OrderSystem()
    order_system.process_order()

## 2024년 5월 13일

Task1_0513. 클래스 구성 요소와 관련 아래 사항에 대한 사례를 작성하세요.
- 클래스 선언
- 생성자
- 속성(attributes)
- 메서드
- 상속
- 인스턴스화(객체 만들기)
- 클래스 변수
- 매직 메서드(특수 메서드)

Task2_0513. 두개의 수를 입력한 후 두개의 수에 대한 사칙연산을 수행하세요.(0을 입력한 경우 다시 입력하도록 조치)

In [ ]:
class Math:
    def get_number_input(self, prompt):
        while True:
            try:
                number = float(input(prompt))
                if number == 0:
                    print("0은 입력할 수 없습니다. 다시 입력해주세요.")
                else:
                    return number
            except ValueError:
                print("숫자를 입력하세요.")

    def perform_operation(self, num1, num2):
        num1 = int(num1)
        num2 = int(num2)
        print(f"덧셈 결과: {num1 + num2}")
        print(f"뺄셈 결과: {num1 - num2}")
        print(f"곱셈 결과: {num1 * num2}")
        print(f"나눗셈 결과: {num1 / num2}")


Math = Math()


number1 = Math.get_number_input("첫 번째 숫자를 입력하세요: ")
number2 = Math.get_number_input("두 번째 숫자를 입력하세요: ")


Math.perform_operation(number1, number2)

첫 번째 숫자를 입력하세요: 9
두 번째 숫자를 입력하세요: 8
덧셈 결과: 17
뺄셈 결과: 1
곱셈 결과: 72
나눗셈 결과: 1.125

Task3_0513. 파이썬 오버라이딩, 오버로딩, 다형성의 사례를 만들어 보세요