2024년 4월 24일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Q. 주어진 문자열 리스트에서 유효한 Python 변수 이름만을 추출하여 반환하는 함수를 작성하세요

In [ ]:
# 나의 풀이

identifiers = ["var1","2things","variable_name","time!"]

search = '2'
search1 = '!'

for word in identifiers:
    if search in word:
        print('>> remove: ' + word)
        identifiers.remove(word)
    elif search1 in word:
        print('>> remove: ' + word)
        identifiers.remove(word)

print(identifiers)

In [ ]:
# 정답
def valid_identifiers(identifier):
    valid = []
    for identifier in identifier:
        if identifier.isidentifier():
          valid.append(identifier)
    return valid


  # 예제 실행
identifiers = ["var1","2things","variable_name","time!"]
print(valid_identifiers(identifiers))


# isidentifier()는 파이썬 문자열 메소드로 문자열이 유효한 식별자인지 Check.
# isidentifier()는 예약어인지는 따로 체크하지 않음.
import keyword
def valid_identifiers(identifier):
    valid = []
    for identifier in identifier:
        if identifier.isidentifier() and not keyword.iskeyword(identifier):
            valid.append(identifier)
    return valid

identifiers = ["var1", "2things", "variable_name", "time!", "True"]
print(valid_identifiers(identifiers))

2024년 4월 25일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
# Task1 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

numbers.sort()
print(numbers[0])

numbers.sort(reverse=True)
print(numbers[0],'\n')


#--------------------------------------------------------------------------------

min_value = min(numbers)
max_value = max(numbers)

print(f"최소값: {min_value}, 최대값:  {max_value}","\n")

#--------------------------------------------------------------------------------

min_value1 = numbers[0]
max_value2 = numbers[0]

for number in numbers:
  if number < min_value1:
    min_value1 = number
  elif number < max_value2:
    max_value2 = number

print(f"최소값: {min_value1}, 최대값:  {max_value2}")

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
# Task2 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

# 합계 계산
result = sum(numbers)

# 평균 계산
ave = result / len(numbers)

# 결과 풀력
print(f"합계: {result}, 평균:  {ave}")

In [ ]:
# 파이썬에서 평균을 구하는 내장함수 없음

import statistics
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
avg = statistics.mean(numbers)
print(f"평균: {ave}")

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple'] target='apple'

In [ ]:
# Task3 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

search = []

for search1 in items:
  if 'apple' in search1:
    search.append(search1)

print(search)

In [ ]:
# 리스트 정의
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

# 찾을 요소
target = 'apple'

# 인덱스 찾기
indexes = [index for index, value in enumerate(items) if value == target]

# 결과 출력
print(f"{target}'의 모든 인덱스: {indexes}")

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다. 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

In [ ]:
#Task4 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요.
#단, 처음 등장하는 요소는 유지해야 합니다. 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다

li = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
result = [li[0]]
for i in li[1:]:
  if i != result[-1]:
      result.append(i)
print(result)

In [ ]:
def remove_consecutive_duplicates(items):
   if not items:
      return []
  # 결과 리스트 초기화
      result = [items[0]]
    # 이전 요소와 비교하면서 중복 제거
      for current in items[1:]:
        if current != result[-1]:
          result.append(current)
      return result

# 리스트 정의
items = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']

# 결과 출력
print(remove_consecutive_duplicates(items))

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [ ]:
#Task5 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요.
#k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.
#예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다
a = [1, 2, 3, 4, 5]
def right_rotate(test_list, n):
  new_list = [None for _ in range(len(test_list))]

  for i in range(len(test_list)):

      new_list[i] = test_list[i-n]

  return new_list

  print(right_rotate(a,2))

In [ ]:
# 오른쪽으로 회전
def rotate_list(num, k):
  if not nums:
    return nums
  # 회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k % len(nums)
  # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[-k:] + nums[:-k]
  return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k =2
# 결과 출력
print(rotate_list(nums, k))

In [ ]:
# 왼쪽으로 회전
def rotate_list(num, k):
  if not nums:
    return nums
  # 회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k % len(nums)
  # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[k:] + nums[:k]
  return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k = 2


# 결과 출력
print(rotate_list(nums, k))

2024년 4월 26일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Task_0426 주어진 리스트의 총합과 평균을 동시에 반환하는 함수를 작성하세요 numbers = [10,20,30,40,50]

In [ ]:
def calculate_sum_and_avg(numbers):

# 합계 계산
  total = sum(numbers)
# 평균 계산
  avg = total / len(numbers)
  return (total, avg) # 튜플로 총합과 평균 반환

numbers = [10, 20, 30, 40, 50]
total, avg = calculate_sum_and_avg(numbers)
print(f"총합: {total}, 평균: {avg}")

Task_0426 딕셔너리 d에서 'b'의 값을 확인하면서 그 값을 삭제하세요

In [ ]:
# pop() 함수는 딕셔너리에서 삭제하라는 값을 반환한 후 삭제
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
value = d.pop('b')
print("삭제 값 : ",value)
print(d)

 Task_0426 다음과 같이 학생의 이름과 점수를 튜플로 묶은 리스트가 있습니다:[("Tom",85),("Jane",90),("Bob",75)]

이 리스트를 사용해 학생 이름을 키로, 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요

In [ ]:
student = ("Tom",85),("Jane",90),("Bob",75)

student_dict = dict(student)
print(student_dict)

 Tesk_0426 튜플의 불변생 떄문에 튜플은 딕셔너리의 키로 사용될 수 있습니다. 주어진 위치 좌표 리스트에서 각 위치가 몇 번 나타나는지 계산하는 딕셔너리를 만드세요

In [ ]:
# 위치 좌표의 리스트
positions = [(1, 1), (2, 2), (1, 1), (3, 3), (2, 2)]

# 각 위치의 출현 횟수를 저장할 딕셔너리
position_count = {}

for pos in positions:
  if pos in position_count:
      position_count[pos] += 1
  else:
    position_count[pos] = 1

print(position_count)

{(1, 1): 2, (2, 2): 2, (3, 3): 1}

Task1_0426. 주어진 리스트에서 중복된 요소를 제외하고 고유한 요소의 개수를 세는 프로그램을 작성하세요.

data = [1, 2, 2, 3, 4, 4, 4, 5]

In [ ]:
data = [1, 2, 2, 3, 4, 4, 4, 5]

result_A = list(set(data))

print(len(result_A))

Task2_0426. 두 개의 리스트에서 공통으로 나타나는 요소들을 찾아 리스트로 반환하는 프로그램을 작성하세요.

예시 입력: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7, 8]

예시 출력: [4, 5]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

print(set1 & set2)

{4, 5}

Task3_0426 주어진 숫자 리스트에서 특정 값보다 큰 요소가 하나라도 존재하는지 검사하고, 그 결과를 불 값으로 반환하는 함수를 작성하세요.

numbers = [1, 2, 3, 10, 20]
threshold = 15

In [ ]:
numbers = [1, 2, 3, 10, 20]
threshold = 10

for number in numbers:
    if threshold < number:
        print(bool(1))
        break
else:
    print(bool(0))

True

In [ ]:
numbers = [1, 2, 3, 10, 20]

if any(num > 15 for num in numbers):
  print("True")
else:
  print("False")

True

In [ ]:
def check_greater_than_threshold(numbers,threshold):
  for num in numbers:
    if num > threshold:
        return True
  return False

numbers = [1, 2, 3, 10, 20]
threshold = 15
result = check_greater_than_threshold(numbers,threshold)
print(result)

True

Task4_0426. 주어진 문자열이 특정 문자열을 포함하는지 확인하고 결과를 불 값으로 반환하는 함수를 작성하세요.

text = "hello world"
substring = "world

In [ ]:
text = 'hello world'
substring = 'world'

if substring in text:
    print(bool(1))
else:
    print(bool(0))

True

In [ ]:
def contains_substring(text, substring):
  if substring in text:
    return True
  else:
    return False

text = "hello world"
substring = "world"
result = contains_substring(text, substring)
print(result)

True

사용자 함수의 형태
- 입력값, 출력값 모두 있는 경우
- 입력값만 있는 경우
- 출력값만 있는 경우
- 입출력값이 없는 경우

Task5_0426. 주어진 연도가 윤년인지 판별하는 함수를 작성하세요. 윤년은 다음의 조건을 만족해야 합니다:

4로 나누어 떨어진다.
100으로 나누어 떨어지지 않거나, 400으로 나누어 떨어지면 윤년이다.
year = 2020

True

In [ ]:
year = 2020

if (year % 4 == 0) and ((year % 100 != 0) or (year % 400 == 0)):
    print(bool(1))
else:
    print(bool(0))

In [ ]:
def is_leep_year(year):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
      return True
    else:
      return False

year = 2020
result =is_leep_year(year)
print(result)

True

In [8]:
def is_leep_year(year):
    if (not year % 4 ) and ((year % 100) or (not year % 400)):
      return True
    else:
      return False

Task6_0426. Calculator 클래스를 작성하고 4칙연산을 수행하는 객체 4개를 작성하여 결과를 출력하세요

In [ ]:
class Calculator:
  def add(self,n1,n2):
    return n1 + n2
  def mul(self,n1,n2):
    return n1 * n2
  def subtract(self,n1,n2):
    return n1 - n2
  def div(self,n1,n2):
    if n2 == 0:
      return "Error"
    else:
      return n1 / n2

# 덧셈
take1 = Calculator()
print(take1.add(5, 2))

# 곱하기
take2 = Calculator()
print(take2.mul(5, 2))

# 뻴셈
take3 = Calculator()
print(take3.subtract(5, 2))

# 나눗셈
take4 = Calculator()
print(take4.div(10, 2))

7
10
3
5.0

Task7_0426. 다음 과제를 수행하세요.

사용자로 부터 텍스트를 입력 받는다.
문자을 단어 단위로 분리 : split()
단어의 빈도수를 저장할 딕셔너리를 생성
각 단어의 빈도 수를 계산(for 문 / if else문): word=word.lower()
결과 출력
[ 예시 ]

문장을 입력하세요: I love apple. I love orange. Apple is tasty

{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}

In [ ]:
text = input("문장을 입력하세요: ")
words = text.split()
word_frequency = {}
for word in words:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

print(word_frequency)

문장을 입력하세요: I love apple. I love orange. Apple is tasty
{'I': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'Apple': 1, 'is': 1, 'tasty': 1}

In [ ]:
# 사용자로부터 문장을 입력 받습니다
sentence = input("문장을 입력하세요:")
# 문장을 단어 단위로 분리합니다
word = sentence.split()
# 단어의 빈도수를 저장할 딕셔너리를 생성합니다
word_frequency = {}
# 각 단어의 빈도수를 계산합니다
for word in words:
    # 대소문자를 구분하지 않기 위해 단어를 소문자로 변환합니다
    word = word.lower() # upper() 대문자로 변경
    # 딕셔너리에 단어가 이미 존재한다면 빈도수를 1 증가시키고, 존재하지 않는다면 새로운 항목으로 추가합니다
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1
# 결과를 출력합니다
print(word_frequency)
# I love apple. I love orange. Apple is tasty

문장을 입력하세요:huhhjhj
{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1, 'apple ': 1, ' banana ': 1, ' orange': 1}

2024년 4월 29일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Task1_0429. input_str을 아래와 같이 단어로 분리하여 출력하세요.

input_str = "Hello, world! How are you today? I am fine. Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you', '']

In [10]:
text = input("단어 입력")
words = text.split()
print(words)

단어 입력Hello, world! How are you today? I am fine. Thank you!
['Hello,', 'world!', 'How', 'are', 'you', 'today?', 'I', 'am', 'fine.', 'Thank', 'you!']

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [ ]:
print(122)
print(0b1111010)
print(0o122)
print(0x122)

Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [ ]:
list1 = ['Java', 'C', 'JavaScript']

del list1[1]
print(list1)

list1.append('Python')
print(list1)

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [24]:
str1 = "Incredible"
str = str1[:3]+str1[-3:]
print(str)

Incble

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [30]:
user = {'Alice':'alice@example.com' }
name = input('이름을 입력 ')
if name in user.keys():
    print(name, ' ',user[name], ' ')
else:
    print('해당 사람이 없습니다.')

이름을 입력 Alice
Alice   alice@example.com

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [25]:
tuple1 = (1,2,3,4,5)
tuple2 = (4,5,6,7,8)

t1 = set(tuple1)
t2 = set(tuple2)

print(t1 & t2)

{4, 5}

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

- 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
- 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
- 이름이 'John'인 사용자의 정보만 출력하세요.
- 전체 사용자의 평균 나이를 계산하고 출력하세요.
1. 사용자 데이터:
- 이름: John
- 나이: 28
- 좋아하는 색상: Blue
2. 사용자 데이터:
- 이름: Alice
- 나이: 24
- 좋아하는 색상: Red
3. 사용자 데이터:
- 이름: Maria
- 나이: 32
- 좋아하는 색상: Green

In [35]:
name = input("이름을 입력하세요 ")
age = int(input("나이를 입력하세요 "))
color = input("좋아하는 색상을 입력하세요 ")

이름을 입력하세요 ㅇㅇ
나이를 입력하세요 12
좋아하는 색상을 입력하세요 ㅇㅇ