2024년 4월 24일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Q. 주어진 문자열 리스트에서 유효한 Python 변수 이름만을 추출하여 반환하는 함수를 작성하세요

In [ ]:
# 나의 풀이

identifiers = ["var1","2things","variable_name","time!"]

search = '2'
search1 = '!'

for word in identifiers:
    if search in word:
        print('>> remove: ' + word)
        identifiers.remove(word)
    elif search1 in word:
        print('>> remove: ' + word)
        identifiers.remove(word)

print(identifiers)

In [ ]:
# 정답
def valid_identifiers(identifier):
    valid = []
    for identifier in identifier:
        if identifier.isidentifier():
          valid.append(identifier)
    return valid


  # 예제 실행
identifiers = ["var1","2things","variable_name","time!"]
print(valid_identifiers(identifiers))


# isidentifier()는 파이썬 문자열 메소드로 문자열이 유효한 식별자인지 Check.
# isidentifier()는 예약어인지는 따로 체크하지 않음.
import keyword
def valid_identifiers(identifier):
    valid = []
    for identifier in identifier:
        if identifier.isidentifier() and not keyword.iskeyword(identifier):
            valid.append(identifier)
    return valid

identifiers = ["var1", "2things", "variable_name", "time!", "True"]
print(valid_identifiers(identifiers))

2024년 4월 25일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
# Task1 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

numbers.sort()
print(numbers[0])

numbers.sort(reverse=True)
print(numbers[0],'\n')


#--------------------------------------------------------------------------------

min_value = min(numbers)
max_value = max(numbers)

print(f"최소값: {min_value}, 최대값:  {max_value}","\n")

#--------------------------------------------------------------------------------

min_value1 = numbers[0]
max_value2 = numbers[0]

for number in numbers:
  if number < min_value1:
    min_value1 = number
  elif number < max_value2:
    max_value2 = number

print(f"최소값: {min_value1}, 최대값:  {max_value2}")

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
# Task2 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

# 합계 계산
result = sum(numbers)

# 평균 계산
ave = result / len(numbers)

# 결과 풀력
print(f"합계: {result}, 평균:  {ave}")

In [ ]:
# 파이썬에서 평균을 구하는 내장함수 없음

import statistics
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
avg = statistics.mean(numbers)
print(f"평균: {ave}")

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple'] target='apple'

In [ ]:
# Task3 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

search = []

for search1 in items:
  if 'apple' in search1:
    search.append(search1)

print(search)

In [ ]:
# 리스트 정의
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

# 찾을 요소
target = 'apple'

# 인덱스 찾기
indexes = [index for index, value in enumerate(items) if value == target]

# 결과 출력
print(f"{target}'의 모든 인덱스: {indexes}")

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다. 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

In [ ]:
#Task4 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요.
#단, 처음 등장하는 요소는 유지해야 합니다. 예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다

li = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
result = [li[0]]
for i in li[1:]:
  if i != result[-1]:
      result.append(i)
print(result)

In [ ]:
def remove_consecutive_duplicates(items):
   if not items:
      return []
  # 결과 리스트 초기화
      result = [items[0]]
    # 이전 요소와 비교하면서 중복 제거
      for current in items[1:]:
        if current != result[-1]:
          result.append(current)
      return result

# 리스트 정의
items = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']

# 결과 출력
print(remove_consecutive_duplicates(items))

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [ ]:
#Task5 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요.
#k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.
#예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다
a = [1, 2, 3, 4, 5]
def right_rotate(test_list, n):
  new_list = [None for _ in range(len(test_list))]

  for i in range(len(test_list)):

      new_list[i] = test_list[i-n]

  return new_list

  print(right_rotate(a,2))

In [ ]:
# 오른쪽으로 회전
def rotate_list(num, k):
  if not nums:
    return nums
  # 회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k % len(nums)
  # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[-k:] + nums[:-k]
  return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k =2
# 결과 출력
print(rotate_list(nums, k))

In [ ]:
# 왼쪽으로 회전
def rotate_list(num, k):
  if not nums:
    return nums
  # 회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k % len(nums)
  # 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[k:] + nums[:k]
  return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k = 2


# 결과 출력
print(rotate_list(nums, k))

2024년 4월 26일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Task_0426 주어진 리스트의 총합과 평균을 동시에 반환하는 함수를 작성하세요 numbers = [10,20,30,40,50]

In [ ]:
def calculate_sum_and_avg(numbers):

# 합계 계산
  total = sum(numbers)
# 평균 계산
  avg = total / len(numbers)
  return (total, avg) # 튜플로 총합과 평균 반환

numbers = [10, 20, 30, 40, 50]
total, avg = calculate_sum_and_avg(numbers)
print(f"총합: {total}, 평균: {avg}")

Task_0426 딕셔너리 d에서 'b'의 값을 확인하면서 그 값을 삭제하세요

In [ ]:
# pop() 함수는 딕셔너리에서 삭제하라는 값을 반환한 후 삭제
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
value = d.pop('b')
print("삭제 값 : ",value)
print(d)

 Task_0426 다음과 같이 학생의 이름과 점수를 튜플로 묶은 리스트가 있습니다:[("Tom",85),("Jane",90),("Bob",75)]

이 리스트를 사용해 학생 이름을 키로, 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요

In [ ]:
student = ("Tom",85),("Jane",90),("Bob",75)

student_dict = dict(student)
print(student_dict)

 Tesk_0426 튜플의 불변생 떄문에 튜플은 딕셔너리의 키로 사용될 수 있습니다. 주어진 위치 좌표 리스트에서 각 위치가 몇 번 나타나는지 계산하는 딕셔너리를 만드세요

In [ ]:
# 위치 좌표의 리스트
positions = [(1, 1), (2, 2), (1, 1), (3, 3), (2, 2)]

# 각 위치의 출현 횟수를 저장할 딕셔너리
position_count = {}

for pos in positions:
  if pos in position_count:
      position_count[pos] += 1
  else:
    position_count[pos] = 1

print(position_count)

{(1, 1): 2, (2, 2): 2, (3, 3): 1}

Task1_0426. 주어진 리스트에서 중복된 요소를 제외하고 고유한 요소의 개수를 세는 프로그램을 작성하세요.

data = [1, 2, 2, 3, 4, 4, 4, 5]

In [ ]:
data = [1, 2, 2, 3, 4, 4, 4, 5]

result_A = list(set(data))

print(len(result_A))

Task2_0426. 두 개의 리스트에서 공통으로 나타나는 요소들을 찾아 리스트로 반환하는 프로그램을 작성하세요.

예시 입력: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7, 8]

예시 출력: [4, 5]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

print(set1 & set2)

{4, 5}

Task3_0426 주어진 숫자 리스트에서 특정 값보다 큰 요소가 하나라도 존재하는지 검사하고, 그 결과를 불 값으로 반환하는 함수를 작성하세요.

numbers = [1, 2, 3, 10, 20]
threshold = 15

In [ ]:
numbers = [1, 2, 3, 10, 20]
threshold = 10

for number in numbers:
    if threshold < number:
        print(bool(1))
        break
else:
    print(bool(0))

True

In [ ]:
numbers = [1, 2, 3, 10, 20]

if any(num > 15 for num in numbers):
  print("True")
else:
  print("False")

True

In [ ]:
def check_greater_than_threshold(numbers,threshold):
  for num in numbers:
    if num > threshold:
        return True
  return False

numbers = [1, 2, 3, 10, 20]
threshold = 15
result = check_greater_than_threshold(numbers,threshold)
print(result)

True

Task4_0426. 주어진 문자열이 특정 문자열을 포함하는지 확인하고 결과를 불 값으로 반환하는 함수를 작성하세요.

text = "hello world"
substring = "world

In [ ]:
text = 'hello world'
substring = 'world'

if substring in text:
    print(bool(1))
else:
    print(bool(0))

True

In [ ]:
def contains_substring(text, substring):
  if substring in text:
    return True
  else:
    return False

text = "hello world"
substring = "world"
result = contains_substring(text, substring)
print(result)

True

사용자 함수의 형태
- 입력값, 출력값 모두 있는 경우
- 입력값만 있는 경우
- 출력값만 있는 경우
- 입출력값이 없는 경우

Task5_0426. 주어진 연도가 윤년인지 판별하는 함수를 작성하세요. 윤년은 다음의 조건을 만족해야 합니다:

4로 나누어 떨어진다.
100으로 나누어 떨어지지 않거나, 400으로 나누어 떨어지면 윤년이다.
year = 2020

True

In [ ]:
year = 2020

if (year % 4 == 0) and ((year % 100 != 0) or (year % 400 == 0)):
    print(bool(1))
else:
    print(bool(0))

In [ ]:
def is_leep_year(year):
    if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
      return True
    else:
      return False

year = 2020
result =is_leep_year(year)
print(result)

True

In [ ]:
def is_leep_year(year):
    if (not year % 4 ) and ((year % 100) or (not year % 400)):
      return True
    else:
      return False

Task6_0426. Calculator 클래스를 작성하고 4칙연산을 수행하는 객체 4개를 작성하여 결과를 출력하세요

In [ ]:
class Calculator:
  def add(self,n1,n2):
    return n1 + n2
  def mul(self,n1,n2):
    return n1 * n2
  def subtract(self,n1,n2):
    return n1 - n2
  def div(self,n1,n2):
    if n2 == 0:
      return "Error"
    else:
      return n1 / n2

# 덧셈
take1 = Calculator()
print(take1.add(5, 2))

# 곱하기
take2 = Calculator()
print(take2.mul(5, 2))

# 뻴셈
take3 = Calculator()
print(take3.subtract(5, 2))

# 나눗셈
take4 = Calculator()
print(take4.div(10, 2))

7
10
3
5.0

Task7_0426. 다음 과제를 수행하세요.

사용자로 부터 텍스트를 입력 받는다.
문자을 단어 단위로 분리 : split()
단어의 빈도수를 저장할 딕셔너리를 생성
각 단어의 빈도 수를 계산(for 문 / if else문): word=word.lower()
결과 출력
[ 예시 ]

문장을 입력하세요: I love apple. I love orange. Apple is tasty

{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1}

In [ ]:
text = input("문장을 입력하세요: ")
words = text.split()
word_frequency = {}
for word in words:
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1

print(word_frequency)

문장을 입력하세요: I love apple. I love orange. Apple is tasty
{'I': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'Apple': 1, 'is': 1, 'tasty': 1}

In [ ]:
# 사용자로부터 문장을 입력 받습니다
sentence = input("문장을 입력하세요:")
# 문장을 단어 단위로 분리합니다
word = sentence.split()
# 단어의 빈도수를 저장할 딕셔너리를 생성합니다
word_frequency = {}
# 각 단어의 빈도수를 계산합니다
for word in words:
    # 대소문자를 구분하지 않기 위해 단어를 소문자로 변환합니다
    word = word.lower() # upper() 대문자로 변경
    # 딕셔너리에 단어가 이미 존재한다면 빈도수를 1 증가시키고, 존재하지 않는다면 새로운 항목으로 추가합니다
    if word in word_frequency:
        word_frequency[word] += 1
    else:
        word_frequency[word] = 1
# 결과를 출력합니다
print(word_frequency)
# I love apple. I love orange. Apple is tasty

문장을 입력하세요:huhhjhj
{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1, 'apple ': 1, ' banana ': 1, ' orange': 1}

2024년 4월 29일
----------------------------------------------------------------------------------------------------------------------------------------------------------------

Task1_0429. input_str을 아래와 같이 단어로 분리하여 출력하세요.

input_str = "Hello, world! How are you today? I am fine. Thank you!"

['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you', '']

In [ ]:
text = input("단어 입력 ")
words = text.split()
print(words)

단어 입력Hello, world! How are you today? I am fine. Thank you!
['Hello,', 'world!', 'How', 'are', 'you', 'today?', 'I', 'am', 'fine.', 'Thank', 'you!']

In [ ]:
import re

input_str =  "Hello, world! How are you today? I am fine. Thank you!"
# 여러 구분자(공백, 쉼표, 마침표, 느낌표)를 포함하는 정규 표현식을 사용
tokens = re.split('[ ..?!]+',input_str)
print(tokens)

['Hello,', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you', '']

In [ ]:
import re

input_str =  "Hello, world! How are you today? I am fine. Thank you!"
tokens = re.split('[ ..?!]+',input_str)
tokens =  [token for token in tokens if token ]
print(tokens)

['Hello,', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you']

In [ ]:
import re

input_str =  "Hello, world! How are you today? I am fine. Thank you!"
tokens = re.split('[ ..?!]+',input_str)
tokens =  list(filter(None, tokens))
print(tokens)

['Hello,', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you']

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [ ]:
print(122)
print(0b1111010)
print(0o122)
print(0x122)

In [ ]:
decimal_number = 122
binary_number = bin(decimal_number)
print("2진수 : ", binary_number)

ootal_number = oct(decimal_number)
print("8진수 : ", ootal_number)

hexadecimal_number = hex(decimal_number)
print("16진수 : ", hexadecimal_number)

2진수 :  0b1111010
8진수 :  0o172
16진수 :  0x7a

Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [ ]:
x = 10
y = 11
result = x * y + 10
print(result)

120

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [ ]:
list1 = ['Java', 'C', 'JavaScript']

del list1[1]
print(list1)

list1.append('Python')
print(list1)

['Java', 'JavaScript']
['Java', 'JavaScript', 'Python']

In [ ]:
languages = ['java', 'c', 'JavaScript']
print(languages.pop(1))
languages.append('Python')
print(languages)

c
['java', 'JavaScript', 'Python']

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [ ]:
str1 = "Incredible"
str = str1[:3]+str1[-3:]
print(str)

Incble

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [ ]:
user = {'Alice':'alice@example.com' }
name = input('이름을 입력 ')
if name in user.keys():
    print(name, ' ',user[name], ' ')
else:
    print('해당 사람이 없습니다.')

이름을 입력 Alice
Alice   alice@example.com

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = (4,5,6,7,8)

t1 = set(tuple1)
t2 = set(tuple2)

print(t1 & t2)

{4, 5}

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

- 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
- 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
- 이름이 'John'인 사용자의 정보만 출력하세요.
- 전체 사용자의 평균 나이를 계산하고 출력하세요.
1. 사용자 데이터:
- 이름: John
- 나이: 28
- 좋아하는 색상: Blue
2. 사용자 데이터:
- 이름: Alice
- 나이: 24
- 좋아하는 색상: Red
3. 사용자 데이터:
- 이름: Maria
- 나이: 32
- 좋아하는 색상: Green

In [ ]:
users = []

for _ in range(3):

  name = input("이름 입력 : ")
  age = int(input("나이 입력 : "))
  color = input("좋아하는 색상 입력 : ")

  user_info = {'name' : name, 'age' : age, 'color' : color }
  users.append(user_info)

for user in users:
  if user[ 'name' ] == 'John':
    print(f'John\'s info: {user}')

total_avg = sum(user['age'] for user in users)
average_avg = total_avg / len(users)

print(f'Average age of users : {average_avg: 2f}')

이름 입력 : Jone
나이 입력 : 28
좋아하는 색상 입력 : Blue
이름 입력 : Alice
나이 입력 : 24
좋아하는 색상 입력 : Red
이름 입력 : Maria
나이 입력 : 32
좋아하는 색상 입력 : Green
Average age of users :  28.000000

## 2024년 4월 30일

Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']

female = ['미미','갑순','줄리엣','성춘향','평강']

In [1]:
import random

male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

random.shuffle(male)
random.shuffle(female)

full = [male + ", " + female for male, female in zip(male, female)]

print(full)

for i, full in enumerate(full):
  print(f'커플{i+1}: {full[0], {full[1]}}')

['온돌, 갑순', '갑돌, 줄리엣', '철수, 평강', '로미오, 미미', '이몽룡, 성춘향']
커플1: ('온', {'돌'})
커플2: ('갑', {'돌'})
커플3: ('철', {'수'})
커플4: ('로', {'미'})
커플5: ('이', {'몽'})

Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

In [4]:
import random
import string # 문자열 상수를 제공하는 모듈로, 여기서는 알파벳 문자와 숫자를 포함

characters = string.ascii_letters + string.digits # 모든 소문자와 대문자 알파벳을 포함( a - z , A - Z )
password = ''.join(random.choice(characters) for i in range(8))
print("랜덤 비밀번호 : " , password)

랜덤 비밀번호 :  M2jyHzOd

In [7]:
# 대문자, 소문자, 숫자가 한번씩은 반드시 포함되야 하는 경우

import random
import string

upper = random.choice(string.ascii_uppercase)
lower = random.choice(string.ascii_lowercase)
digit = random.choice(string.digits)

characters = string.ascii_letters + string.digits
rest = ''.join(random.choice(characters) for i in range(5))

# 모든 요소를 하나의 문자열로 합치기
password = upper + lower + digit + rest

# 비밀번호 임의로 찾기
print(password)
password = ''.join(random.sample(password, len(password))) # (선택할 시퀀스, 선택할 요소)
print("랜덤 비밀번호 : " , password)

Fe4BQ96z
랜덤 비밀번호 :  e9z6QB4F

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [9]:
import random

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준', '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

num = int(input("발표자 수  > "))
ans = random.sample(kita, num) # 중복 없이 요소를 선택
print(ans)

발표자 수  > 8
['류윤선', '김홍준', '김한결', '박지환', '김하준', '이현석', '윤호준', '김성현']

Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.

In [28]:
num = int(input("숫자 입력: "))

for i in range(1, 10):
    print(f'{num} x {i} = {num * i}')

숫자 입력: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [ ]:
# 구구단 전부 출력

for i in range(2, 10):
  for j in range(1, 10):
    print(f'{i} x {j} = {i * j}')
  print('\n')

f - string내에서 { }안에는 변수 뿐만 아니라 Python 표현식도 올 수 있음

In [29]:
# 구구단 횡 방향 출력

for i in range(2, 10): # 2단 부터 9단 까지
  # 각 단위 이름 중간에 출력
  print(f"{' '*5}{i}단{' '*5}", end="\t") # 중간에 각 단의 이름을 출력
print()

# 구분선 추가
for i in range(2, 10):
  print("="*12, end="\t") # 각 단마다 구분선을 출력
print()

for j in range(1, 10):
  for i in range(2, 10):
    print(f'{i} x {j} = {i * j}', end ='\t')
  print()

     2단     	     3단     	     4단     	     5단     	     6단     	     7단     	     8단     	     9단
============	============	============	============	============	============	============	============
2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.

In [32]:

num = int(input("팩토리얼을 계산할 숫자를 입력 : "))

factorial = 1

for i in range(1, num + 1):
  factorial *= i
print(f"{num}의 팩토리얼은 {factorial}입니다")

팩토리얼을 계산할 숫자를 입력 : 10
10의 팩토리얼은 3628800입니다

Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

In [33]:
num1 = []
num2 = []

for i in range(21):
  if i % 2 == 0:
    num1.append(i)
  else:
    num2.append(i)

print(num1)
print(num2)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.
numbers = [34, 78, 2, 45, 99, 23]

In [35]:
 numbers = [34, 78, 2, 45, 99, 23]

max = 0
for i in numbers:
  if i > max:
    max = i
print(max)

99

In [34]:
 numbers = [34, 78, 2, 45, 99, 23]

 max(numbers)

99

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요.

In [1]:
#  숫자 맞추기 게임
import random

target_number = random.randint(1, 10)

while True:
  guess = int(input("1부터 10 사이의 숫자를 맞춰보세요 "))
  if guess > target_number:
    print("더 작은 숫자")
  elif guess < target_number:
      print("더 큰 숫자")
  else:
    print("정답")
    break

1부터 10 사이의 숫자를 맞춰보세요 6
정답

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

In [7]:
birth_year = int(input("태어난 연도를 입력하세요 "))

zodiacs = ["쥐", "소", "호랑이", "토끼", "용", "뱀", "말", "양", "원숭이", "닭", "개", "돼지"]

zodiac_index = (birth_year - 1924) % 12
zodiac = zodiacs[zodiac_index]

print(f'{birth_year}년은 {zodiac}띠입니다')

태어난 연도를 입력하세요 1998
1998년은 호랑이띠입니다

In [9]:
y = ["원숭이", "닭", "개", "돼지", "쥐", "소", "호랑이", "토끼", "용", "뱀", "말", "양"]

x = int(input("태어난 연도 입력: "))
print(f'{y[x%12]} 띠입니다')

태어난 연도 입력: 1998
호랑이 띠입니다

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성

In [11]:
coffee = 5

while True:
  money = int(input("돈을 주시면 커피를 드립니다 "))
  if money == 300:
    print("커피를 추출합니다")
    coffee -=1
  elif money > 300:
    print("거스름돈 %d원을 받고 커피를 추출합니다." %(money-300))
    coffee -=1
  else:
    print("금액이 부족하여 %d원을 반환합니다 "%(money))
  if coffee == 0:
    print("커피가 다 소진되었습니다 다음에 오세요 ")
    break

돈을 주시면 커피를 드립니다 500
거스름돈 200원을 받고 커피를 추출합니다.
돈을 주시면 커피를 드립니다 200
금액이 부족하여 200원을 반환합니다
돈을 주시면 커피를 드립니다 300
커피를 추출합니다
돈을 주시면 커피를 드립니다 3000
거스름돈 2700원을 받고 커피를 추출합니다.
돈을 주시면 커피를 드립니다 500
거스름돈 200원을 받고 커피를 추출합니다.
돈을 주시면 커피를 드립니다 400
거스름돈 100원을 받고 커피를 추출합니다.
커피가 다 소진되었습니다 다음에 오세요

In [23]:
# Q 로또 번호 6개를 6세트 출력하는 코드를 작성하세요 (중복안됨)
import random

r = list(range(1, 46))
for i in range(6):
  lotto = random.sample(r, 6)
  print(lotto)

[19, 13, 39, 16, 15, 35]
[30, 37, 34, 32, 31, 21]
[2, 26, 1, 28, 42, 43]
[45, 34, 28, 43, 44, 24]
[20, 45, 38, 17, 22, 18]
[45, 36, 6, 5, 2, 16]

In [25]:
# Q n개 그룹으로 분류하는 코드를 작성하세요

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선',
        '김한결','김도현','김하준', '김도원','신현진','소지승','이범석',
        '이현석','이명신','박윤경','이도헌','김홍준']

n = int(input("나눌 숫자 입력 : "))

random.shuffle(kita)

groups = [kita[i::n] for i in range(n)]

for idx, group in enumerate(groups):
  print(f"그룹 {idx + 1}: {group}")

나눌 숫자 입력 : 5
그룹 1: ['서보선', '김성현', '최환욱', '이현석']
그룹 2: ['소지승', '윤호준', '김홍준', '이명신']
그룹 3: ['김도원', '박지환', '이범석', '이도헌']
그룹 4: ['김한결', '김하준', '신현진', '황강민']
그룹 5: ['류윤선', '김도현', '박윤경', '이상협']

In [16]:
# Q 1부터 100까지의 정수중 5에서 95까지의 합을 구하세요

sum = 0

for i in range(1, 101):
  if i >= 5 and i <= 95:
    sum += i
print(sum)

4550

In [26]:
sum = 0
while i <= 100:
  if i >=5 and i <=95:
    sum += i
  i += 1
print(sum)

4550

In [15]:
# Q while문을 사용해 1부터 1000까지의 정수 중 3과 5의 공배수의 합을 구해 보세요

count = 1
sum = 0

while count <= 1000:
  if count % 3 ==0 or count % 5 ==0:
    sum += count
  count += 1

print(sum)

234168

In [27]:
# Q 현재 시각을 오전과 오후로 구분하는 프로그램을 작성하세요
import datetime
import pytz

tz = pytz.timezone('Asia/Seoul')
now = datetime.datetime.now(tz)
now_time= now.hour
now_time # 현재 시각
if now_time >= 12:
  print("오후")
else:
  print("오전")

오후

In [34]:
# 다양한 오류 입력에 대한 해결 방안 추가 필요

time = input("현재 시간을 입력하세요 (ex: 15시 30분, 15시, 15) : ")

if '시' not in time:
  print("형식에 맞춰 작성해주세요")
elif int(time.split('시')[0]) >= 0 and int(time.split('시')[0]) < 12:
  print("오전 입니다")
elif int(time.split('시')[0]) >= 12 and int(time.split('시')[0]) < 24:
  print("오후 입니다")
else:
  print("시간을 다시 입력")

현재 시간을 입력하세요 (ex: 15시 30분, 15시, 15) : 15
형식에 맞춰 작성해주세요

In [ ]:
# 가위 바위 보 게임을 코딩을 프로그래밍하세요.

cpu = ['가위', '바위', '보']

win = [('가위', '바위'),('바위', '보'),('보', '가위')]

while 1:
  cpu_select = random.choice(cpu)
  human = input("무엇을 낼래")
  if cpu_select == human:
    print("비겼습니다")
  elif (cpu_select, human) in win:
    print("이겼습니다")
  else:
    print("졌습니다")

In [ ]:
# 가위 바위 보 게임을 코딩을 프로그래밍하세요. 3연승 종료
import random

com_hand = ['가위', '바위', '보']
win_case = {'가위':'바위', '바위':'보', '보':'가위'}
win_number = 0

print('가위 바위 보 시작 ( 3회 승리시 종료 )')
print('주의 : 오타는 패배 ')

while True:
  com_select = com_hand[random.randint(0,2)]
  you_select = input("가위 / 바위 / 보 입력 ")
  print(f'컴퓨터는 {com_select}입니다')
  if win_case[com_select] == you_select:
    win_number += 1
    print(f'이겼습니다. 현재 {win_number}승 ')
  else:
    if com_select == you_select:
      print("비겼습니다")
    else:
      print("졌습니다")
  if win_number == 3:
    print("3승을 달성하여 게임이 종료됩니다")
    break

## 2024년 5월 2일

Task1_0502. 짝수와 짝수를 입력하면 곱한 값을 출력하고 홀수와 홀수를 입력하면 덧셈 값을 출력하고 그외는 다시 입력하라는 메시지를 출력하세요.

In [5]:
num1 = int(input("첫번쨰 숫자 입력 "))
num2 = int(input("두번쨰 숫자 입력 "))

avg = 0
sum = 0

if num1 % 2 == 0 and num2 % 2 == 0:
  avg = num1 * num2
  print(avg)
elif num1 % 2 == 1 and num2 % 2 == 1:
  sum = num1 + num2
  print(sum)
else:
  print("다시 입력하세요")

첫번쨰 숫자 입력 66
두번쨰 숫자 입력 88
5808

Task2_0502. 현재 계절 구분 프로그램
- 시나리오 : 3 ~ 5월은 봄, 6 ~ 8월은 여름, 9 ~ 11월은 가을, 12 ~ 2월은 겨울로 구분. 지금 계절을 알려주는 프로그램
- 각 계절별 출력 멘트는 계절에 맞게 창작
- if 조건문으로 datetime 모듈을 import해서 datetime.now 함수를 사용해서 작성

In [6]:
import datetime
import pytz

tz = pytz.timezone('Asia/Seoul')
now = datetime.datetime.now(tz)
now_month= now.month
now_month # 현재 월

if now_month >= 3 and now_month <= 5:
  print("봄 꽃들이 아름다운 계절")
elif now_month >= 6 and now_month <= 8:
  print("여름 바다가 아름다운 계절")
elif now_month >= 9 and now_month <= 11:
  print("가을 나무가 아름다운 계절")
elif now_month >= 2 and now_month == 12:
  print("겨울 눈이 아름다운 계절")

봄 꽃들이 아름다운 계절

Task3_0502. 1부터 99까지 아래와 같이 2개의 수를 곱해서 가장 큰 수를 구하세요.

`1*99, 2*98 ...99*1`

Task4_0502. [    ]을 채워서 아래의 출력과 같이 출력하세요.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]


# [[1,4,7],[2,5,8],[3,6,9]]

Task5_0502. 주어진 리스트에서 중복된 요소를 제거하고, 남은 요소만을 포함하는 새 리스트를 반환합니다. 순서는 유지해야 합니다.

In [7]:
input_list = [1, 2, 2, 3, 4, 4, 4, 5, 6, 7, 7]

nums = set(input_list)

list(nums)

[1, 2, 3, 4, 5, 6, 7]

Task6_0502 주어진 문자열을 모스 코드로 변환하는 함수를 작성하세요. 공백은 무시하고 알파벳만 변환하세요
input_text = "Hello World"

In [ ]:
morse_code = {
        'A': '.-', 'B': '-...', 'C': '-.-.', 'D': '-..', 'E': '.', 'F': '..-.',
        'G': '--.', 'H': '....', 'I': '..', 'J': '.---', 'K': '-.-', 'L': '.-..',
        'M': '--', 'N': '-.', 'O': '---', 'P': '.--.', 'Q': '--.-', 'R': '.-.',
        'S': '...', 'T': '-', 'U': '..-', 'V': '...-', 'W': '.--', 'X': '-..-',
        'Y': '-.--', 'Z': '--..'
    }

Task7_0502. 주어진 비대칭 m×n 매트릭스(2차원 리스트)에서, 모든 대각선 상의 합을 계산하는 함수를 작성하세요. 결과는 각 대각선의 합을 리스트로 반환해야 합니다.

In [ ]:
input_matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]
]